<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @email %></p>
    <br>
    <p>
      Here is your username : <%= @username %>
    </p>
    <br>
    <p>Best Regard</p>
    <p>Thanks</p>
  </body>
</html>
