<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @email %></p>
    <br>
    <p>
      Here is your Bound Round user name: <%= @username %>
    </p>
    <br>
    <p>Cheers,</p>
    <p>The Team At Bound Round</p>
  </body>
</html>
