<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @place.display_name %> was created in Bound Round by User ID: <%= @place.created_by %><br>
    </p>
  </body>
</html>
