<div class="col-xs-12 col-md-6">
  <div class="thumbnail">
    <div class="image-cat image-cat-left">
      <%= image_tag showing_image(place["photos"].first["url"]), class: 'img-responsive img-full-div' unless place["photos"].blank? %>
    </div>
    <div class="caption caption-right">
      <h4 class="gray-font"><%= place["country"] %></h4>
      <%= link_to place_path(place["slug"]) do %>
        <h2><%= place["_highlightResult"]["display_name"]["value"].html_safe  %></h2>
      <% end %>
    </div>
    <div class="details-dest">
      <div class="left">
       </div>
      <div class="right">
      </div>
    </div>
  </div>
</div>
