<div class="<%= data_class %>">
  <main class="search-results">
    <div class="no-result"></div>
      <!-- <div id="stats"></div> -->
      <div class="recently-viewed"></div>
      <div class="hits"></div>
      <!-- <div id="pagination"></div> -->
      <div class="more-result-id"></div>
      <!-- <div id="google-hits"></div> -->
  </main>
</div>



<script type="text/template" id="hit-template">
<div class="recently">
  <small> Recently viewed </small>
</div>
<div class="world-wide">
  <small>World Wide</small>
</div>
{{#hits}}
  <a href="{{ url }}" class="no-anchor-decoration hit-result" data-link="{{ url }}">
    <div class="hit">
    <div class="hit-icon">
      <img src="{{ photos.0.url }}"  alt="{{ photos.0.alt_tag }}">
    </div>
      <div class="hit-content">
        <h5 class="hit-name">{{{ display_name }}}</h5>
        <small class="hit-description">{{{ display_address }}}</small>
      </div>
    </div>
  </a>
  {{/hits}}
</script>

<script type="text/template" id="google-hit-template">
  {{#hits}}
  <div class="hit" data-url="{{ url }}">
    <div class="hit-content">
      <h2 class="hit-name">{{{ _highlightResult.display_name.value }}}</h2>
      <p class="hit-description">{{{ _highlightResult.description.value }}}</p>
    </div>
  </div>
  <hr>
  {{/hits}}
</script>

<script type="text/template" id="more-results-template">
<hr class="btm0">
<div class="more-result">
  <%= form_tag searching_path, id: '', method: :get  do %>
      <%= submit_tag "Find more results for '{{ query }}' >>", class: "more-result" %>
      <%= hidden_field_tag "search[common]","{{query}}" %>
  <% end %>
</div>
</script>
