<div class="container">
<div class="row">
  <div class="top50">
    <div class="col-md-3 well">
      <h4>
        Filter
      </h4>
      <div id="facets-instant-search"></div>
    </div>
    <div class="col-md-9 well" id="instant-search-container">
      <div class="row">
        <div class="col-md-12">
            <div class="input-group input-search-nav refine">
              <%= form_tag searching_path, id: '', method: :get  do %>
                <%= submit_tag "", id: 'btn-search-top'  %><i class="fa fa-search"></i>
                <%= text_field_tag "search[common]", params.traverse('search', 'common'), id: "squery" ,class: 'search-nav instant-search', autocomplete: "off" %>
              <% end %>
            </div><!-- /input-group -->
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12" id="instant-search-results">
          <hr/>
          <%= render partial: 'search_suggestions/instant_search_results' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>