<%= render :partial=> "search_suggestions/search_results", :locals => { :data_class=>"search-results-container"}%>
<section class="places-to-go top20">
  <div class="container">
    <div class="text-left">
        <span class="left-modal top5">
          <%= @places.length %> results 
        </span>
    </div>
  </div>
</section>

<section class="places-to-go top15">
  <div class="container">
    <div class="row" id="places-list">
      <% unless @places.blank? %>
        <%= render partial: 'result_places_list', collection: @places, as: :place %>
      <% end %>
    </div> <!-- row -->
  </div>
</section>

<% unless last_page? @places %>
  <div class="text-center clearfix btm15 single-pagination-container" id="places-single-pagination-container" style="clear:both">
    <div class="col-lg-12 col-md-12 btm15 hidden single-pagination-loader" align="center">
      <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
    </div>
    <%= link_to "Load More", searching_nearby_path(places_page: @places.next_page, pagination_template: 'result_places_list' ,places_per_page: 6, resources: 'places'), class: 'btn btn-default single-pagination', remote: true %>
  </div>
<% end %>
