<%= render "layouts/navbar" %>
<%#= render "search_suggestions/search_results" %>
<!--#hardcode  -->
<!-- <div id="params" data-query="params[]"></div> -->
<section class="places-to-go top20">
  <div class="container">
    <div class="text-left">
      <!-- <p> -->
        <span class="left-modal top5">
          12 results <a class="pink">Refine</a>
        </span>
        <span class="right-modal width-select">
          <div class="row">
            <div class="col-xs-4 col-sm-4">
              <label class="grey top5"> Sort by : </label>
            </div>
            <div class="col-xs-8 col-sm-8">
              <form class="form form-horizontal margin-right-select20">
              <div class="form-group">
                <select class="form-control">
                  <option>Price</option>
                  <option>Tours</option>
                  <option>City</option>
                  <option>Hotels</option>
                  <option>Do</option>
                </select>
              </div>
              </form>
            </div>
            </div>
        </span>
      <!-- </p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>


 <div class="container">
   <div class="text-left">
   </div>
   <div class="row " id="area-card">
     
     <!-- <div class="col-sm-6 col-md-3 col-xs-6">
       <div class="thumbnail">
         <div class="image-cat">
           <img src="./img/images.jpg" alt="" class="top-rounded img-responsive">
         </div>
         <div class="caption text-center">
           <h4 class="font-orange2">Majorca</h4>
         </div>
         <div class="details-dest">
           <div class="left">
             <a href="#"><i class="fa fa-newspaper-o"></i> 2</a>
           </div>
           <div class="right">
             <a href="#">
             <i class="fa fa-thumbs-o-up"></i> 100%</a>
           </div>
         </div>
       </div>
     </div> -->


   </div> <!-- row -->
 </div>

<section class="places-to-go top15">
  <div class="container">
    <div class="row" id="place-card">
     
<!--      <div class="col-xs-12 col-md-6">
      <div class="thumbnail">
        <div class="image-cat image-cat-left">
          <img src="./img/images.jpg" alt="" class="img-responsive img-full-div">
        </div>
        <div class="caption caption-right">
          <h4 class="gray-font">Sydney</h4>
          <h2>The Powerhouse Museum</h2>
        </div>
        <div class="details-dest">
          <div class="left">
            <a href="#"><i class="fa fa-male"></i> Do</a>
            <a href="#">Museum</a>
          </div>
          <div class="right">
            $$
          </div>
          </div>
        </div>
      </div> -->


  


    </div> <!-- row -->
  </div>
</section>
<div class="text-center clearfix btm20 top5">
  <span><img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64"></span>
</div>

<%= render "layouts/footer" %>