# Ignore keys
/config/application.yml
/config/newrelic.yml
/config/cloudinary.yml

# Ignore uploaded files
/public/uploads
/public/assets/photos

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.ssl
.vagrant/
.byebug_history
Vagrantfile
# ignore videos for android apk
/public/videos
/vendor/*

# Ignore Google Analytics
# app/views/layouts/_ga.html.erb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

server.key
server.pass.key
server.csr
www_mydiscoveries_com_au-bundle.pem
