# Ignore keys
/config/application.yml
/config/newrelic.yml

# Ignore uploaded files
/public/uploads
/public/assets/photos

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# ignore videos for android apk
/public/videos
