<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new review was created in Bound Round in <%= @review.reviewable ? @review.reviewable.display_name : "no associated place" %> by <%= @review.user.email %><br>
      <%= link_to "You can view and change its status here",  "https://app.boundround.com" + users_draft_content_path %><br>
    </p>
  </body>
</html>
