<!DOCTYPE html>
<html>
  <body>
    Could not send SNA request for
    <%= link_to(" Order##{@order.id}", order_customer_info_url(@order))%>
    Error Message: <%= @result.response.message %>
  </body>
</html>
