<!DOCTYPE html>
<html>
  <%= render 'vouchers/head' %>
  <body bgcolor="#000060">
    <%= render 'vouchers/body_table',
      pdf_page:   false,
      email_page: true,
      order:      @order,
      offer:      @offer,
      operator:   @operator,
      hero_photo: @hero_photo,
      passengers: @passengers,
      customer:   @customer
    %>
  </body>
</html>
