<div class="form-group">
  <%= f.input :from_url, label: "From URl", placeholder: 'e.g. win', input_html: { class: 'form-control' } %><br>
</div>

<div class="form-group">
  <%= f.input :to_url, label: "To URL", placeholder: 'e.g. http://mydiscoveries.com.au', input_html: { class: 'form-control' } %><br>
</div>

<br>
<div class="form-group">
  <%= f.button :submit, 'Submit' %>
  <%= link_to "Cancel", user_landings_path(@user), {:class=>"btn"} %>
</div>
