<script type="text/javascript">
	function specialcharecter(event){
    var regex = new RegExp("^[a-z_-]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
      event.preventDefault();
      alert ("These field just allow a-z and ( - or _ ) ");
      return false;
    }
  } 
</script>

<div class="form-group">
  <%= f.input :from_url, label: "From URl", placeholder: 'e.g. win', input_html: { class: 'form-control', onkeypress: "specialcharecter(event)" } %><br>
</div>

<div class="form-group">
  <%= f.input :to_url, label: "To URL", placeholder: 'e.g. http://mydiscoveries.com.au', input_html: { class: 'form-control' } %><br>
</div>

<br>
<div class="form-group">
  <%= f.button :submit, 'Submit' %>
  <%= link_to "Cancel", landings_path, {:class=>"btn"} %>
</div>
