<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top:50px;" id="table-container">
      <table class="table table-striped" id="transactions-table">
       <thead>
	        <tr>
	          <th>From URL</th>
	          <th>To URL</th>
	          <th>Action</th>
	        </tr>
	      </thead>
        <h2>Please create a unique 'From URL' for each competition</h2> 
	      <tfoot>
	        <tr>
	          <th>From URL</th>
	          <th>To URL</th>
	          <th>Action</th>
	        </tr>
	      </tfoot>
	      <tbody>
	        <% @landings.each do |landing| %>
	          <tr>
	            <td><%= link_to "#{landing.from_url} || #{landing.id}", edit_landing_path(landing) %></td>
	            <td><%= link_to landing.to_url, landing.to_url, target: '_blank' %></td>
	            <td>
	            	<%= link_to 'Destroy', landing_path(landing), method: :delete, data: { confirm: 'Are you sure?' } %>
	            </td>
	          </tr>
	        <% end %>
	      </tbody>
      </table>
    </div>
  </div>
</div>
<link href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css" type="text/css">
