<div class="container" data-controller='vouchers'>
  <h2>New Add-On</h2>
  <%= simple_form_for [@product, @add_on],
    url: offer_add_ons_path, method: :post, html: { role: 'form' } do |f| %>
      <%= render 'form', f: f %>
  <% end %>
</div>
