/* begin - font-face css */


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

body {
  font-size: 16px;
  font-family: 'Larsseit', sans-serif;
  color: #333; }

.itinerary-page section, .itinerary-page footer {
  margin-top: 40px; }
.itinerary-page h1 {
  font-family: 'Baghdad', serif;
  color: #ff4d1a;
  font-weight: bold;
  font-size: 30px; }
.itinerary-page h2 {
  font-family: 'Baghdad', serif;
  color: #000060;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px; }
.itinerary-page h3 {
  font-size: 18px;
  color: #000060;
  font-weight: bold;
  margin-bottom: 20px; }
.itinerary-page ul {
  padding-left: 20px; }
.itinerary-page .orange-block {
  /*line-height: 30px;*/
}
.itinerary-page .orange-block {
  background-color: #ff4d1a;
  color: #fff;
  padding-top: 15px; }
  .itinerary-page .orange-block h3 {
    color: #fff; }
.itinerary-page .banner {
  background-size: cover;
  height: 150px;
  width: 100% !important;
  -webkit-box-shadow: 0px 10px 0px 0px #ff4d1a;
  -moz-box-shadow: 0px 10px 0px 0px #ff4d1a;
  box-shadow: 0px 10px 0px 0px #ff4d1a;
  margin-bottom: 30px; }
.itinerary-page .img-waves {
  position: relative;
  padding: 15px;
  width: auto;
  display: inline-block;
  margin: 0 auto; }
  .itinerary-page .img-waves img {
    z-index: 1;
    position: relative;
  }
/*  .itinerary-page .img-waves.waves-sm:before {
    background: url("<%= wicked_pdf_asset_base64('pdf/japanese-waves-pattern_LARGE.jpg') %>") 0 0 repeat;
    background-size: cover; }
  .itinerary-page .img-waves.waves-lg:before {
    background: url("<%= wicked_pdf_asset_base64('pdf/japanese-wave-wallpaper-background-1471183286fyQ.jpg') %>") 0 0 repeat;
    background-size: cover; }*/
  .itinerary-page .img-waves:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; }
.itinerary-page .intro {
  margin-top: 0; }
  .itinerary-page .intro .row {
    margin-top: 30px; }
  .itinerary-page .intro h3 {
    margin-top: 10px; }
.itinerary-page .heading {
  text-transform: uppercase;
  font-weight: bold; }
.itinerary-page strong {
  color: dimgray; }
.itinerary-page .itinerary-item {
  margin-bottom: 30px; }
.itinerary-page .dates {
  text-align: center; }
  .itinerary-page .dates h3 {
    text-align: left; }
  .itinerary-page .dates table {
    width: 100%;
    margin-bottom: 30px; }
    .itinerary-page .dates table tr {
      border-bottom: 1px solid #333; }
      .itinerary-page .dates table tr:first-child {
        border-top: 1px solid #333; }
      .itinerary-page .dates table tr th {
        border-right: 1px solid #333;
        width: 50px;
        padding: 5px; }
      .itinerary-page .dates table tr td {
        text-align: right;
        padding: 5px; }
  .itinerary-page .dates img {
    max-height: 300px;
    margin: 0 auto; }
.itinerary-page .facilities {
  text-align: center; }
  .itinerary-page .facilities h3 {
    text-align: left; }
  .itinerary-page .facilities ul {
    text-align: left;
    margin-bottom: 30px; }
  .itinerary-page .facilities img {
    max-height: 300px;
    margin: 0 auto; }
.itinerary-page .info {
  margin-top: 30px; }
.itinerary-page .main-footer {
  background-color: #000060;
  color: #fff;
  padding: 10px 0;
  margin-top: 30px;
  /*height: 80px;*/
  float: bottom; 
  font-family: 'Larsseit-Bold', sans-serif; }
  .itinerary-page .main-footer a {
    color: #fff; 
  }
  .itinerary-page .main-footer img {
    /*height: 25px;*/
    width:100px;
    /*margin-top: -20px;*/
    position: relative;
    top: -5px;
    float: right; }

@media screen and (max-width: 767px) {
  .itinerary-page .main-footer {
    text-align: center; }
    .itinerary-page .main-footer img {
      float: none;
      margin: 10px auto 0; }
  .itinerary-page section {
    margin-top: 0; } }
.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }
/*# sourceMappingURL=style.css.map */
