
<a href="<%= place_path(place) %>">
<div class="thumbnail padd0">
  <div class="image-cat">

    <img src="<%= showing_image(place.photos.count > 0 ? place.photos.first.path_url(:small) : asset_path('generic-grey.jpg')) %>" alt="" class="top-rounded img-responsive">

  </div>
  <div class="caption place-caption text-center">
    <h4 class="font-orange2"><%= place.display_name %></h4>
  </div>
  <div class="details-dest">
    <div class="left">
      <%= link_to "<i class=\"fa fa-ship\"></i> #{place.primary_category.try(:name)}".html_safe, place.primary_category.present?? primary_categories_path : '#' %>
    </div>
    <!-- #hardcode -->
    <div class="right">
      <a href="#">
      <i class="fa fa-thumbs-o-up"></i> 95%</a>
    </div>
  </div>
</div>
</a>
