<div id="table-container">
  <h1>All Programs</h1>

  <table class="table table-striped" id="place-table">
    <thead>
    <tr>
			
	    t.string   "name"
	    t.text     "description"
	    t.text     "yearlevelnotes"
	    t.string   "cost"
	    t.string   "programpath"
	    t.string   "heroimagepath"
	    t.string   "duration"
	    t.text     "times"
	    t.string   "booknowpath"
	    t.string   "contact"
	    t.integer  "place_id"
	    t.datetime "created_at"
	    t.datetime "updated_at"
			
			<th>Place</th>
      <th>Name</th>
      <th>Program Path</th>
    </tr>
    </thead>
    <tbody>
    <% @programs.each do |program| %>
        <tr>
          <td><%= program.place.display_name %></td>
          <td><%= link_to program.name, edit_program_path(program) %></td>
          <td><%= link_to "Go to program", program.programpath %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>