<div class="container">
  <h1>New Author</h1><br>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being updated:</h2>
      <ul>
	      <% @author.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %><br>
  <div class="row">
    <%= simple_form_for @author, url: authors_path(@author), method: :post, html: { role: 'form'} do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div