<div class="text-center">

  <h1>Boundround new stamp transaction</h1>

    <%= simple_form_for @stamp_transaction do |f| %>

      <div class="form-group">
        <%= f.input :user_info, label: "User info", input_html: { class: 'form-control'} %>
        <%= f.button :submit %>
      </div>

    <% end %>
<div>
