<div class="row row-border row-bgcolor-orange-profile row-height50">
  <div class="col-xs-12 col-sm-12 col-height20 btm5">
    <span class="left-modal font-orange-black top5 ">Your Boundround Status</span>
    <span class="right-modal font-orange-black top5"><i class="fa fa-arrow-right"></i></span>
  </div>
  <div class="col-xs-12 col-sm-12 border-profile border-orange btm10">
  </div>
  <div class="col-xs-12 col-sm-12">
    <span class="left-modal">
      <i class="fa fa-trophy font-orange-black"></i> <a class="white">Top Storyteller</a>
    </span>
    <span class="right-modal">
      <i class="fa fa-file-text-o font-orange-black"></i> <span class="white"><%= @user.stories.size %></span>
      <i class="fa fa-camera font-orange-black"></i> <span class="white"><%= @user.user_photos.size %></span>
      <i class="fa fa-comment-o font-orange-black"></i> <span class="white"><%= @user.reviews.size %></span>
    </span>
  </div>
</div>
