<h1>All Users</h1>
<% if current_user.try(:admin?) %>
    <% @users.each do |user| %>
        <p><%= user.email %></p>
        <p><%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
<% else %>
  <h3>Please <%= link_to 'Sign In', sign_in_path %></h3>
<% end %>
