<!-- <div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 new-story">
			<div class="col-md-12">
				<div class="outer-profile">
	              <img src="">
	            </div>
			</div>
			<div class="col-md-12">
				<div class="title">
					<div class="mini-menu">
						<button><i class="fa fa-plus-circle"></i></button>
						<ul>
							<li><button><i class="fa fa-camera"></i></button></li>
							<li><button><i class="fa fa-play"></i></button></li>
							<li><button><i class="fa fa-code"></i></button></li>
						</ul>
					</div>
						<input type="text" placeholder="title">
				</div>
			</div>
			<div class="col-md-12">
				<div class="body-story">
					<textarea name="" id="" cols="30" rows="10" placeholder="Tell your story..."></textarea>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 ">
			<div class="col-md-12">
				<div class="outer-profile">
	              <img src="">
	            </div>
			</div>
			<div class="col-md-12">
			<div class="editable"> </div>
				
			</div>
			<div class="col-md-12">
				<div class="body-story">
					<!-- <textarea class="medium-editable" name="" id="" cols="30" rows="10" placeholder="Tell your story..."></textarea> -->
					<div class="editable"></div>
				</div>
			</div>
		</div>
	</div>
</div>