<div class="container">
  <div class="row">
    <div class="head-title">
        <%#= render 'user_status' %>
      <h4 class="top20">My account</h4>
      <h2 class="gray-font">Photos</h2>
    </div>
  </div>
  </div> <!-- row -->
</div>

    <div class="border-section btm10"></div>


<section class="places-to-go btm15">
  <div class="container">
    <div class="text-left">

      <span class="left-modal">
        <!-- <a href="#" class="grey btn top5"> Edit </a> -->
      </span>
      <span class="right-modal">
        <!-- <a href="#" class="btn btn-default top5 btn-radius3" data-toggle="modal" data-target="#PhotoModal" ><i class="fa fa-plus font-orange2"></i> Add photo</a> -->
      </span>

      <!-- <p><a href="#" class="grey btn top5">Edit</a></p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>

<section class="your-stories btm15">
  <div class="container">
    <div class="row" id="photos-user-list" >

    <%= render partial: 'photos_user_list', collection: @photos, as: :photo %>

    </div> <!-- row -->
    <% unless last_page? @photos %>
      <div class="text-center clearfix btm20 single-pagination-container" id="photos-single-pagination-container" style="clear:both">
        <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
          <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
        </div>
        <%= link_to "Load More", paginate_photos_user_path(@user, active_photos: @photos.next_page, resources: 'photos', pagination_template: 'photos_user_list'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
      </div>
    <% end %>
  </div>
</section>
