<div class="container">
  <div class="row">
    <div class="head-title">
        <%#= render 'user_status' %>
      <h4 class="top20">My account</h4>
      <h2 class="gray-font">Reviews</h2>
    </div>
  </div>
  </div> <!-- row -->
</div>

    <div class="border-section btm10"></div>

<section class="places-to-go top10 btm15">
  <div class="container">
    <div class="text-left">

      <span class="left-modal">
        <!-- <a href="#" class="grey btn"> Edit </a> -->
      </span>

      <!-- <p><a href="#" class="grey btn top5">Edit</a></p> -->
      <!-- <h4 class="section-title">Featured places to go</h4> -->
    </div>
  </div>
</section>

<section class="your-stories btm15">
  <div class="container">
    <div class="row" id="reviews-user-list">
      <%= render partial: 'reviews_user_list', collection: @reviews, as: :review %>
      </div>
    </div> <!-- row -->
    <% unless last_page? @reviews %>
      <div class="text-center clearfix btm20 single-pagination-container" id="reviews-user-single-pagination-container" style="clear:both">
        <div class="col-lg-12 col-md-12 btm15 hidden single-pagination-loader" align="center">
          <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
        </div>
        <%= link_to "Load More", paginate_reviews_user_path(@user, active_reviews_user: @reviews.next_page, resources: 'reviews', pagination_template: 'reviews_user_list'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
      </div>
    <% end %>

  </div>
</section>
