<% if @user == current_user || current_user.admin %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 hidden-xs top20" align="center">
      <div class="img-rounded-big"  style="background: url('<%= showing_image(@user.avatar_url) %>')" >
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 leftmin16">
    <div class="head-title">
      <div class="row leftmin16" align="center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btm25">
          <h4 class="hitam top20 align-left left40">Member profile</h4>
          <h2 class="abu-abu align-left left40"><%= @user.name %></h2>
          <div class="img-rounded-profile visible-xs" style="background: url('<%= showing_image(@user.avatar_url) %>')">
          </div>
        </div>
      </div>
      </div>
    </div>

    </div><!-- row -->

    <div class="row">
      <div class="col-md-12">
        <%= render partial: "stories/all_stories_place"%>
      </div>
    </div>
    
  </div>

<div class="container topmin16-responsive padding-style">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
</div> <!-- div col -->

<div class="col-sm-12 col-xs-12 border-profile visible-xs">
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<section class="places-to-go">
    <div class="text-left">
    </div>
</section>

<section class="your-stories btm15">
</section>
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->

<% else %>
  <h1>You must be logged into view this page</h1>
<% end %>
