<div class="profile-container">
  <div class="user-container">
    <div class="left-user">
      <a href="<%= root_path %>"><input type="image" src="<%= asset_path("home-button-blue.png") %>" class="globe-home"></a>
      <%= render 'passport_form' %>
    </div>
    <div class="right-user">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
