<div class="container">
  <div class="row">
    <div class="head-title">
      <h2 class="gray-font">Videos</h2>
    </div>
  </div>
</div>

<div class="border-section btm20"></div>

<% if @featured_videos.present? %>
  <section class="your-stories video-show">
    <div class="container">
      <div class="row">
      <%= render partial: 'featured_videos_list', collection: @featured_videos, as: :video %>
      </div>
    </div>
  </section>
<% end %>

<div class="container">
  <div class="text-left">
    <h4 class="section-title top5">Latest</h4>
  </div>
</div>

<section class="your-stories video-show video-latest">
  <div class="container">
    <div class="row" id="latest_videos-list">
      <%= render partial: 'latest_videos_list', collection: @latest_videos, as: :video %>
      <!-- <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="head-stories">
          <div class="left">
            <a href="#">
              <div class="profile-outer">
                <img src="assets/images/BR_Logo.png" alt="">
              </div>
             </a>
          </div>
        </div>

      </div> -->
    </div>
  </div>
</section>

<% unless last_page? @latest_videos %>
  <div class="text-center clearfix btm20 single-pagination-container" id="latest_videos-single-pagination-container" style="clear:both">
    <div class="col-lg-12 col-md-12 btm15 hidden-lg single-pagination-loader" align="center">
      <img src="http://lingualinx.com/wp-content/themes/lingualinx/assets/images/loading.gif" width="64" height="64">
    </div>
    <%= link_to "Load More", videos_path(place_id: params[:place_id], latest_videos_page: @latest_videos.next_page, resources: 'latest_videos', pagination_template: 'latest_videos_list', collection_object: 'video'), class: 'btn btn-default single-pagination btn btn-default top5 load-more', remote: true %>
  </div>
<% end %>



