<div class="col-md-12 col-sm-12">
    <div class="fun-fact">
        <div class="fun-fact-img" style="background: url(<%= draw_fun_fact_photo(funfact, @place) rescue nil %>) no-repeat;"
             role="img"
             aria-label="Fish Market"></div>
        <div class="fact"><%= raw funfact.content %>
        </div>
    </div>
</div>
