  <div class="container photo-components-wrapper">
        <div class="row">
            <div class="owl-carousel carousel">

                <%= render partial: 'shared/featured_photos_list', collection: @photos, as: :photo %>
              
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-12">
                <div class="load-more"><a href="#">LOAD MORE</a></div>
            </div>
        </div>
    </div>