<div id="vimeo-video-modal" class="modal fade modal-video responsive-video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cs-modal-lg">
        <div class="modal-content cs-modal-content-video">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

              <iframe width="880" height="500" frameborder="0" allowfullscreen="" class="embed-responsive-item" style="position:relative;"></iframe>

            </div>
        </div>
    </div>
</div>