<% if (user_signed_in?) && ( current_user.try(:admin) || current_user.has_role?("editor") || current_user.has_role?("publisher") ) %>
  <div class="container-fluid">
    <h1>Add / Edit Booking Guarantee</h1>
    <%= simple_form_for :guarantee, url: settings_update_guarantee_path do |f| %>
      <div class="form-group">
        <%= f.input :guarantee_text, as: :bootsy, input_html: { class: 'form-control', value: "#{@book_guarantee}" } %>
      </div>
      <div class="form-group">
        <%= submit_tag :submit, class: 'btn' %>
      </div>
    <% end %>
  </div>
<% else %>
  <h3>You are not signed in or do not have the proper permissions to view this page</h3>
<% end %>