<% @competitions.each do |comp| %>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="comp-hero" href="<%= comp.url%>">
        <img src="<%= showing_image(comp.image_url(:large)) %>" />
      </a>
    </div>
  </div>
  <hr>
<% end %>
