<div class="modal fade" id="notSupported" tabindex="-1" role="dialog" aria-labelledby="oldBrowser" aria-hidden="true">
  <div class="modal-content">
    <p>This browser is not supported</p>
    <p>We recommend you update your browser or download Google Chrome</p>
  </div>
  <div class="footer" data-dismiss="modal">
    <%= image_tag 'back.jpg', class: "close-button" %>
  </div>
</div>
