<div class='map-page'>
  <div id='map'></div>
</div>

<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' data-category='all'>All Places</a>
  <a href='#' data-category='activity'>Activity</a>
  <a href='#' data-category='animals'>Animals</a>
  <a href='#' data-category='beach'>Beach</a>
  <a href='#' data-category='museum'>Museum</a>
  <a href='#' data-category='park'>Park</a>
  <a href='#' data-category='eat'>Places to Eat</a>
  <a href='#' data-category='stay'>Places to Stay</a>
  <a href='#' data-category='shopping'>Shopping</a>
  <a href='#' data-category='sights'>Sights</a>
  <a href='#' data-category='sport'>Sport</a>
  <a href='#' data-category='theme_park'>Theme Park</a>
</nav>

<div class="modal fade" id="areaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="area-content">
      ...
      </div>
    </div>
    <div class="footer" data-dismiss="modal">
      <%= image_tag(asset_path('back.jpg'), class: "close-button") %>
    </div>
  </div>
</div>
