<style>
  .homepage {
    background-color: white;
  }
</style>
<div style="margin-top: 50px;" class="row hidden-xs"></div>
<a href="<%= root_path %>">
  <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
</a>
<div class="container">
<p><h2>PRIVACY POLICY SUMMARY</h2>
<em>(updated 7th September 2015)</em></p>
<p>BOUND ROUND is committed to the protection of any Personal Information provided by you to the Bound Round website and including through all mobile devices (“Other Platforms”).</p>
<p>The Bound Round website and the Other Platforms are referred to throughout this Privacy Policy (“Privacy Policy”) as the “Website”.</p>
<p>This part of the Website is here to explain the rules about how BOUND ROUND collects and uses information about you.</p>
<p>Please read this page carefully and if you are under 18 years of age, ask your parents or guardians to read this page and explain the rules to you. By using the Website you (and your parents or guardians) agree to be bound by the rules.</p>
<p>The following key rules apply:</p>
<ol>
<li>When you create an account on the Website, you will be sending BOUND ROUND details about you, including your name, country you call home, photograph, email address and date of birth. BOUND ROUND may pass this information on to the BOUND ROUND Partners.</li>
<li>BOUND ROUND will use the collected information for a number of reasons, including to improve the operation of the Website. BOUND ROUND and BOUND ROUND Partners may also use the collected information to send you information about products you may enjoy.</li>
<li>BOUND ROUND will try to make sure that your personal information is protected, however there is always a risk that an unauthorised person could get BOUND ROUND’s security measures. If you become aware of such activity please let BOUND ROUND know and they’ll do their best to sort it out.</li>
<li>Please make sure that the information about you on the Website is correct and let BOUND ROUND know if any details need to be updated.</li>
<li>If you have any questions about how BOUND ROUND collects or uses your information, or would like access to any of your information held by BOUND ROUND, please email&nbsp;<strong>members[at]boundround[dot]com</strong></li>
</ol>
<p>The above summary has been prepared to make sure you understand the key rules that will apply when using the Website. The rest of this page contains a longer version of the rules, which both you and your parents or guardians should read and understand before using the Website.</p>
<p><strong>PRIVACY POLICY</strong></p>
<p>BOUND ROUND is committed to the protection of any Personal Information provided by you to the Bound Round website and including through all mobile devices (“Other Platforms”).</p>
<p>The Bound Round website and the Other Platforms are referred to throughout this Privacy Policy (“Privacy Policy”) as the “Website”.</p>
<p>BOUND ROUND has developed this Privacy Policy in line with the ‘National Principles’ in Schedule 3 of the Privacy Act 1988 (Cth).</p>
<p>Please read this Privacy Policy together with the Terms and Conditions of the Website. Words and phrases defined in the Terms and Conditions have the same meaning in this Privacy Policy. The provisions in the Terms and Conditions prevail over provisions in this Privacy Policy but only to the extent of any inconsistency.</p>
<p>Access to the content of the Website is conditional upon your acceptance of this Privacy Policy. By accessing and using the Website you agree to be bound by this Privacy Policy. If you do not agree to be bound by the Privacy Policy you are not authorised to use the Website.</p>
<p>BOUND ROUND reserves the right, at its discretion, to change, modify, add or remove portions of this Privacy Policy at any time. Please periodically check this Privacy Policy for such changes. Your continued use of the Website, following the posting of changes to this Privacy Policy will mean you accept those changes. Any amendments made to the Privacy Policy may be retrospectively applied to the date of collection of the Personal Information.</p>
<p>Our Privacy Policy contains the following key elements:</p>
<ol>
<li>Our Collection of Personal Information</li>
<li>Storage and Security of Personal Information</li>
<li>Use and Disclosure of Personal Information</li>
<li>Access to Personal Information</li>
<li>Children’s Privacy</li>
<li>Disclaimer</li>
<li>Contact Us</li>
</ol>
<p><strong>Our Collection of Personal Information</strong></p>
<p>BOUND ROUND will collect information that does personally identify you, including but not limited to including your name, country you call home, photograph, email address and date of birth should you wish to establish a User Account (“Personal Information”).</p>
<p>Personal Information is collected to assist BOUND ROUND with continually improving its products where possible and to enhance your use of the Website.</p>
<p><strong>Storage and Security of Personal Information</strong></p>
<p>BOUND ROUND will use its reasonable endeavours to maintain the security of your Personal Information. BOUND ROUND requires staff and service providers to respect the confidentiality of Personal Information. However, due to the nature of the Internet, we cannot guarantee that Personal Information will always be secure either during its transmission to BOUND ROUND or from unauthorised access during storage and you therefore disclose your Personal Information to BOUND ROUND at your own risk. To assist BOUND ROUND with protecting all Personal Information, we request that you contact BOUND ROUND immediately if you become aware or have reason to believe of any unauthorised use of your Personal Information in connection with the Website.</p>
<p><strong>Use and Disclosure of Personal Information</strong></p>
<p>BOUND ROUND reserves the right to disclose Personal Information to third parties including to retailers located both in and outside Australia (“BOUND ROUND Partners”). BOUND ROUND Partners are not authorised to contact Users directly and your email address will not be shared. BOUND ROUND requests all BOUND ROUND Partners to comply with a similar privacy policy. Please contact BOUND ROUND if you believe that any BOUND ROUND Partner has used Personal Information in a manner that has been detrimental to you.</p>
<p>The Personal Information of children under the age of 13 will not be shared.</p>
<p><strong>Access to Personal Information</strong></p>
<p>BOUND ROUND will use its reasonable endeavours to keep Personal Information current and accurate. BOUND ROUND encourages you to correct any Personal Information that is inaccurate by amending your details on the Website. If you are unable to amend or delete your Personal Information you may Contact Us and we will use reasonable endeavours to provide, amend or delete your Personal Information within a reasonable period of receipt of your request. If applicable, any legal requirement on BOUND ROUND to maintain certain records concerning your Personal Information must prevail over any of your requests.</p>
<p><strong>Children’s Privacy</strong></p>
<p>BOUND ROUND requests that a child’s parent or legal guardian consent to their child’s use of the Website and explain this Privacy Policy to them.</p>
<p><strong>Disclaimer</strong></p>
<p>BOUND ROUND will only collect, use or disclose your Personal Information as follows:</p>
<ol>
<li>in compliance with this Privacy Policy;</li>
<li>to comply with any law;</li>
<li>to protect the rights or property of BOUND ROUND or any third party; or</li>
<li>to avoid injury to any person.</li>
</ol>
<p>You may link directly to sites operated by BOUND ROUND Partners (collectively “Linked Sites”) in the Website. Although certain Linked Sites may be co-branded with the BOUND ROUND logo, you acknowledge that such sites may not be operated or controlled by BOUND ROUND.</p>
<p>BOUND ROUND Linked Sites may collect additional personal information in addition to Personal Information supplied to BOUND ROUND. You acknowledge that BOUND ROUND is not responsible for the Privacy Policy, content or practices of the Linked Sites. We encourage you to always read the applicable privacy policy of any Linked Site on exiting the Website.</p>
<p><strong>Contact Us</strong></p>
<p>If you have any queries regarding this Privacy Policy or should you have any difficulties examining, amending or deleting any of your Personal Information or would like to gain access to such Personal Information, please contact BOUND ROUND by email addressed to&nbsp;<strong>members[at]boundround[dot]com</strong></p>
<h3></h3>
<h3>FREQUENTLY ASKED QUESTIONS</h3>
<p><strong>Q.</strong> What happens if a child answers a poll?<br>
<strong>A.</strong> Bound Round from time to time will set up polls on our website to learn user&nbsp;preferences. The information we receive does not contain any personal information. The information will be used to create a better site for kids&nbsp;to enjoy.</p>
<p><strong>Q.</strong> What happens if a child enters a competition?<br>
<strong>A.</strong> When a child enters a competition through Bound Round, they will be asked for their email address and contact information. Once Bound Round has appraised all entries, the parent of the winning entry will be contacted to confirm address details to mail out the prize. Bound Round will not award the prize if parental approval is not given.</p>
<p><strong>Q.</strong>&nbsp; How does Bound Round use personal information about children and what happens to it?<br>
<strong>A.</strong>&nbsp; The information users&nbsp;provide is only used to send out products and services requested by the user, to send out prizes in competitions and to communicate updates, offers or membership benefits from Bound Round.</p>
<p><strong>Q.</strong> Do you sell your information to third parties?<br>
<strong>A.</strong> No!</p>
<p><strong>Q.</strong> How will I know if you make changes to the privacy policy?<br>
<strong>A.</strong> If we decide to change the Bound Round Privacy Policy, we will post those changes in this section of our website and they will be included in the next release of a Bound Round app.</p>
<div style="clear:both"></div>
</div>
