<style>
  .homepage {
    background-color: white;
  }
</style>
<div style="margin-top: 50px;" class="row hidden-xs"></div>
<a href="<%= root_path %>">
  <img src="<%= asset_path('br_logo_new.png') %>" class="img-resposive center-block hidden-xs place-logo" >
</a>
<div class="container">
  <h2>TERMS AND CONDITIONS SUMMARY</h2>
  <p>
    The Bound Round website is owned and operated by Bound Round Pty Ltd (ABN 62 155 213 853) (“BOUND ROUND”) of 15/93 Kurraba Rd, Neutral Bay NSW 2089. BOUND ROUND also operates on all mobile devices (“Other Platforms”).
  </p>
  <p>
    The Bound Round website and the Other Platforms are referred to throughout these Terms and Conditions as the “Website”.
  </p>
  <p>
    Bound Round is an online destination where kids can go to get information and ideas on destinations, activities and things to see around Australia (and the world) directly from other kids. The content is viewable without registering with us, but to actively participate in the Website, you must register as a member.
  </p>
  <p>
    Every place kids go has rules. No standing on the school bus; no running near the pool; always wear a seatbelt… you get the idea. Bound Round has rules, too.
  </p>
  <p>
    This part of the Website is here to explain the rules about how you can and can’t use the Website as well as letting you know what BOUND ROUND can do with anything you send to BOUND ROUND or post on the Website.
  </p>

  <p>
    Please read this page carefully and if you are under 18 years of age, ask your parents or guardians to read this page and explain the rules to you. By using the Website you (and your parents or guardians) agree to be bound by the rules. The following key rules apply:
    <ol>
      <li>Bound Round is meant for kids. If you’re not a kid, go find your own travel site! Bound Round is the place where kids can have their say, but we don’t allow:
        <ol type="i">
          <li>Bad language</li>
          <li>Inappropriate videos</li>
          <li>Unkind comments about other Bound Round members or reviews</li>
        </ol>
      </li>
      <li>
        If you’re under 13 years old, you need permission from your parents or guardians to share videos, photos, reviews and stories with the Bound Round community.
      </li>
      <li>
        Everything on the Website is for your own enjoyment and should not be used for any other purpose (such as selling the material that appears on the Website).
      </li>
      <li>
        Anything that you post on the Website, including any comments, pictures or videos, will automatically be owned by BOUND ROUND. Once you post anything on the site, you agree that we can use it in any way we want, anywhere, forever and ever. We might make it shorter, edit it, or add titles. We promise to do our absolute best never to do anything with your image or words that would make you feel unsafe. Please check with you parents or guardians before sending anything to BOUND ROUND or posting anything on the Website.
      </li>
      <li>
        Other people will be posting content on the Website. <strong>We watch every video before it is made public to make sure it’s appropriate and doesn’t break any of our rules. We also read every comment before it’s posted to make sure no one is using bad words or saying mean things to another user.</strong> None of that should ever be on Bound Round.
      </li>
      <li>
        Bound Round doesn’t tell kids what to say in their videos or write in their reviews. When you post a review on Bound Round, you promise that the words you use and opinions you share are your own.
      </li>
      <li>
        If another user has posted a comment that breaks our rules, let us know by emailing us at <a href="mailto:members@boundround.com">members@boundround.com</a> and if we agree that the rules have been broken, we’ll take the offending comment down
      </li>
      <li>
        Both you and your parents or guardians should be aware of any costs you would need to pay when accessing the Website, such as internet fees and mobile phone charges. BOUND ROUND will not be responsible for such costs.
      </li>
    </ol>
  </p>
  <p>
    The above summary has been prepared to make sure you understand the key rules that will apply when using the Website. The rest of this page contains a longer version of the rules which both you and your parents or guardians should read and understand before using the Website.
  </p>
  <p>
    PARENTS: Please carefully read and make sure you consent to these Bound Round Terms of Service and Privacy Policy before approving your child’s account with Bound Round and accessing the Services.
  </p>
  <hr>
  <p>
    <strong>TERMS AND CONDITIONS</strong><br>
    The Bound Round website is owned and operated by  Bound Round Pty Ltd (ABN 62 155 213 853) (“BOUND ROUND”) of 15/93 Kurraba Rd, Neutral Bay NSW 2089.  BOUND ROUND also operates on all mobile devices (“Other Platforms”).<br>
    The Bound Round website and the Other Platforms are referred to throughout these Terms and Conditions as the “Website”.<br>
    Your access to and use of the Website is subject to these Terms and Conditions and any other terms and conditions, notices or disclaimers contained on the Website. In the event of any inconsistency between these Terms and Conditions and any other terms and conditions, notices or disclaimers contained on the Website the provisions of these Terms and Conditions shall prevail but only to the extent of such inconsistency.<br>
    By accessing and using this site, you agree to be bound by these Terms and Conditions of use. If you do not agree to these Terms and Conditions of use, then you are not authorised to use this Website. We reserve the right, at our discretion, to change, modify, add, or remove portions of these Terms and Conditions at any time. Please check these Terms and Conditions periodically for changes. Your continued use of the Website, following the posting of changes to these Terms and Conditions will mean you accept those changes.
  </p>
  <p>
    <strong>RESTRICTIONS ON USE OF WEBSITE MATERIAL COPYRIGHT</strong><br>
    All right, title and interest (including copyright) in all information, text, material, designs, logos, insignia, audio or video excerpts, graphics and other images, computer programs, code (including HTML), URLs, advertisements, photographs, illustrations, other works or subject matter ("Material") provided by BOUND ROUND and appearing on the Website  ("Website Material") is owned by BOUND ROUND or its licensors. You are granted the non-exclusive non-transferable limited right to use the Website and the Website Materials only in the manner set out in these Terms and Conditions. You may access and use the Website and Website Material only for your personal and non-commercial use. Nothing in these Terms and Conditions or on the Website will grant you ownership of the Website Materials (or any intellectual property rights in them).<br>
    No Website Material may be copied, reproduced, republished, modified, framed, uploaded to a third party, posted, transmitted (including without limitation broadcast), communicated or otherwise made available to the public, distributed, linked to or otherwise used except with the written consent of BOUND ROUND or as expressly provided by these Terms &amp; Conditions. You must not use any so-called 'spider' or similar automated software or device to use or access the Website or the Website Material in any way.<br>
    You may, on the condition that all Website Material is in the same form as presented on the Website and you keep intact all copyright and other proprietary notices:<br>
    <ol>
      <li>view the Website and its contents using a web "browser";</li>
      <li>save a single electronic copy of the Website Material for your personal, non-commercial use;</li>
      <li>print out a single copy of the Website Material for your own personal, non-commercial use; and</li>
      <li>download one copy of the Website Material on single computer for your personal, non-commercial use only.</li>
    </ol>
    You may not use or copy the Website Material other than as expressly provided by these Terms and Conditions and, without limitation, you may not:<br>
    <ol>
      <li>transmit Website Material (whether by email or otherwise) to any third party;</li>
      <li>display the Website Material on any computer, system or network which permits electronic access to the Website Material by more than one user at a time;</li>
      <li>modify , merge, adapt or translate Website Material;</li>
      <li>use, sell, assign, rent, sub-licence or otherwise deal in the Website Material except as expressly permitted by these Terms and Conditions; or</li>
      <li>copy any Website Material on any website operated by yourself or any third party.</li>
    </ol>
    The general restrictions listed here may be expressly excluded by BOUND ROUND by written provisions in the Website to allow for the use by you of certain Website Material in social media, for example, the creation of a hyperlink to the Website from Instagram.<br>
    Modification of the Website Materials or use of the Website Materials for any purpose other than those set out above is a violation of the copyright and/or other proprietary rights of BOUND ROUND or its licensors.
  </p>

  <p><strong>TRADE MARKS</strong><br>
    Unless otherwise stated, all trade marks or service marks, (registered, unregistered or pending registration) and trade names are proprietary to BOUND ROUND it's related bodies corporate, third party retailers or licensors. You must not use such trade marks, service marks or trade names except for:
    <ol>
    <li>printing out a single copy of the Website for your personal, non-commercial use; or</li>
    <li>otherwise with the written consent of BOUND ROUND.</li>
    </ol>
  </p>

  <p>
  <strong>USER MATERIAL</strong><br>
    ‘User Material’ means creative suggestions, ideas, notes, drawings, concepts, reviews or comments or other information uploaded or posted by you on the Website. You may only use the Website for lawful purposes, in a responsible and co operative manner and in accordance with these Terms and Conditions.  You agree not to:
    <ol>
      <li>upload to, distribute through, or otherwise publish on or through the Website any User Material which is libellous, defamatory, harassing, obscene, pornographic, threatening, invasive of privacy or publicity rights, abusive, illegal, or which otherwise in BOUND ROUND'S opinion infringes the rights of BOUND ROUND or any other party or which BOUND ROUND otherwise considers to be objectionable or to constitute or encourage a criminal offence, incite hatred in a person or group, violate the rights of any party, restrict or inhibit any other user from enjoying the Website, or otherwise to give rise to liability on the part of any other user of the Website or BOUND ROUND or to violate any law; or</li>
      <li>place on the Website or transmit to or through the Website any User Material which contains a computer virus, worm or any other computer code which may adversely affect the Website Materials, performance or functionality of the Website or any other website, software, system or equipment of BOUND ROUND or any other party.</li>
    </ol>
    The Website shall be used only in a non-commercial manner. You shall not, without our express approval, distribute or otherwise publish any User Material containing any solicitation of funds, promotion, advertising or solicitation for goods or services. You specifically acknowledge that soliciting other Website users to join or become members of any commercial online service or other organisation is expressly prohibited.
    By uploading User Material to the Website or submitting any User Material to BOUND ROUND or the Website, you automatically grant (or warrant that the owner of such rights has expressly granted) BOUND ROUND  a perpetual, royalty free, irrevocable, non exclusive right and license to use, copy, store, review, amend, reproduce, communicate to the public, modify, edit, adapt, publish, translate, create derivative works from, and distribute such User Material or incorporate such User Material into any form, medium, or technology now known or later developed throughout the universe. This grant includes the right to exploit intellectual property rights under any jurisdiction worldwide.
    None of your User Materials shall be subject to any obligation of confidence on the part of BOUND ROUND, and BOUND ROUND shall not be liable for any use or disclosure of any User Materials or be obliged to make any payment to you in respect of its use of the User Materials.
    You consent to BOUND ROUND (and its successors in title, licensees, assignees and persons authorised by BOUND ROUND) doing any act or omitting to do any act comprised in any or all of your ‘moral rights’ (including rights of integrity of authorship, rights of attribution of authorship and similar rights that exist or may come to exist anywhere in the world) arising out of or in connection with the use of the User Material in any manner and in any media now known or devised in the future, regardless of whether such conduct amounts to derogatory treatment. If requested by BOUND ROUND and at their expense you will execute such documents so as to give effect to the grant of rights and consent in these Terms and Conditions.
    BOUND ROUND does not usually actively supervise, edit, control, monitor or censor the User Material. However, BOUND ROUND may from time to time review User Material and you acknowledge that BOUND ROUND retains the right to edit or take down User Materials and may suspend you from participating on the Website in BOUND ROUND's absolute discretion. You also acknowledge that views or opinions expressed are those of other users of the Website which are not necessarily shared by BOUND ROUND and BOUND ROUND does not endorse any User Materials or any opinion, recommendation, or advice contained in them. You irrevocably waive any right which you have or which you may in the future have to make any claim or demand or institute any legal or quasi legal proceedings against BOUND ROUND based on the contents of any User Material included on the Website. .
    If a breach of these conditions of use and access to the Website is brought to BOUND ROUND's attention, BOUND ROUND may at its option reject, refuse to post or remove User Material from the Website or prohibit a user from accessing the Website. In any event, BOUND ROUND reserves its absolute right to withdraw permission for a user to access the Website at any time.
  </p>
  <p>
    <strong>USER ACCOUNT</strong><br>
    This agreement (the “Terms of Service”) governs your use of the Website, both as a casual visitor and as a registered user. The target audience for Bound Round is for children and their parents, and Bound Round is intended for children and their parents to use together. If you are under 18 years old, you certify that your parents have consented to your use of Bound Round and to the Terms of Service, and you acknowledge and agree that your use of Bound Round is at their discretion. Until you are 18 years old, your parents may ask us to modify, deny access to, or terminate your account and we may do so at their request or any time, for any reason, without notice or liability.
    You may login through your Facebook, Instagram or YouTube account (“User Account”) in order to subscribe to the Website or to upload, post or otherwise submit User Materials on the Website. You should be aware of the Terms of Use of the service you are logging in with when you visit and participate within this Website. You cannot use another person's User Account and must immediately notify us of unauthorised use of your User Account.
  </p>
  <p>
    <strong>PARENTAL CONSENT</strong><br>
    If you area a Parent and you consent to your child’s registration on the Website, you agree to be bound by these Terms of Service in respect of his/her use of the Website and Services.
  </p>
  <p>
    <strong>DISCLOSURE OF PERSONAL INFORMATION TO THIRD PARTIES</strong><br>
    We reserve the right to disclose the following personal information to third parties: your user name, your photograph, your age (in years) and your home country (“Personal Information”). We will not disclose your email address, your full name or your location to third parties other than when required by law.
  </p>
  <p>
    <strong>VOUCHERS</strong><br>
    Businesses located both in and outside Australia (“BOUND ROUND Partners”) may offer gift vouchers (“Vouchers”) to Users. If you have been awarded a Voucher, you will be notified by email received from BOUND ROUND or from BOUND ROUND Partners. You acknowledge that the Vouchers are not redeemable for cash and cannot be used for payment of credit. BOUND ROUND does not guarantee that any Users will receive a Voucher.
  </p>
  <p>
    <strong>DISCLAIMER, LIMITATION OF LIABILITY AND INDEMNITY</strong><br>
    BOUND ROUND and its licensors do not make any representation or warranty as to the reliability, accuracy or completeness of any Website or Website Material and do not accept any responsibility arising in relation to errors in, or omissions from the Website or Website Material.
    The inclusion of any advertising or other information or Material on any page of the Website which promotes products or services to be supplied by a party other than BOUND ROUND does not imply that BOUND ROUND endorses or recommends any such party, product or services.
    To the fullest extent permitted by law, BOUND ROUND will not be liable in any way for any loss or damage suffered by you through your use of the Website (including the Website Materials, the User Materials and the Vouchers) or otherwise as a result of BOUND ROUND providing the services available on the Website. Except as provided for by law:<br>
  <ol>
    <li>All Website Material is provided "as is" and without warranties of any kind, either express or implied;</li>
    <li>BOUND ROUND expressly disclaims to the fullest extent permitted by law all express and implied warranties of any kind including, but not limited to, implied warranties of merchantability and fitness for a particular purpose;</li>
    <li>BOUND ROUND does not warrant that the functions contained in any Website Material or other Material will be uninterrupted or error free, that any defects will be corrected or that the Website or the server which stores and transmits content to you are free of computer viruses, worms or any other computer code which may adversely affect the content, performance or functionality of the computers of users of the Website or any other website, software, system or equipment of such users or of any other party;</li>
    <li>BOUND ROUND does not warrant or make any representations regarding your access to, or the results of your access to Website including any related or linked web sites, or any content in terms of correctness, accuracy, timeliness, completeness, reliability or otherwise.</li>
  </ol>
    Certain laws may not allow the exclusion of some conditions and warranties in which case some of the above exclusions may not apply to you. Under no circumstances (including but not limited to any act or omission on the part of BOUND ROUND) will BOUND ROUND be liable for any indirect, incidental or, special and/or consequential damage or loss of profits whatsoever which result from any use or access of, or any inability to use or access the Website or any Website Material or User Material.<br>
  You expressly acknowledge and agree that BOUND ROUND does not exert control over users of the Website and is not liable either for their opinions or their behaviour, including any information and/or advice and any defamatory statements or offensive conduct on their part or the breach of any law including those relating to privacy.
  </p>
  <p>
    <strong>INDEMNITY</strong><br>
    You agree to indemnify and keep indemnified BOUND ROUND from and against any costs, loss, liability, claim or damage which BOUND ROUND incurs or suffers as a result of any default by you in respect of these Terms and Conditions or of any act or omission by you in connection with your use of the Website, including without limitation the Website Material and the User Material.
  </p>
  <p>
  <strong>LINKS TO/FROM THIRD PARTY WEBSITES</strong><br>
    The Website contains links to websites, which are not operated by BOUND ROUND. Although BOUND ROUND has set up such links with the authority of the operators of such sites, it has no control over and is not responsible for the Material on such sites. These links are provided for your convenience only and if you use a link to access third party Material you do so entirely at your own risk. The inclusion of links to third party websites and Material does not imply any endorsement of the Material or any association with their owners and operators. Accordingly, BOUND ROUND explicitly disclaims any responsibility for the accuracy, Material, or availability of information found on such websites.<br>
    BOUND ROUND encourages discretion when browsing the Internet using its or anyone else's service, as some websites employ automated search results or otherwise link you to websites containing information that may be deemed inappropriate or offensive.<br>
    BOUND ROUND cannot be held responsible for the accuracy, copyright compliance, legality, or decency of any Material contained on third-party websites, and you hereby irrevocably waive any claim against us with respect to such sites.<br>
    BOUND ROUND does not endorse any of the merchandise or services offered on any website which is not operated by BOUND ROUND (including any website which is accessible through a link from the Website), nor has BOUND ROUND taken any steps to confirm the accuracy or reliability of any of the information contained in such third-party websites. BOUND ROUND cannot ensure that you will be satisfied with any products or services that you purchase from any website which is not operated by BOUND ROUND.<br>
    BOUND ROUND does not make any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) which you might be requested to give any third party, and you hereby irrevocably waive any claim against us with respect to such third party websites. We strongly encourage you to make whatever investigation you feel necessary or appropriate before proceeding with any on-line or off-line transaction with any of these third parties.
  </p>
  <p>
  <strong>TERMINATION</strong><br>
    The right to access and use the Website granted by way of these Terms and Conditions is effective until terminated by either party. You may terminate such right under these Terms and Conditions at any time by destroying all Website Material obtained by you or held in your possession and all related documentation and all copies and installations thereof, whether made under the terms of these Terms and Conditions or otherwise. Your right to access and use the Websites will terminate immediately without notice from BOUND ROUND if in BOUND ROUND’s sole opinion you fail to comply with any term or provision of these Terms and Conditions. Upon termination, you must destroy all Website Materials and third party User Materials obtained by you or held in your possession and all copies thereof, whether made under the terms of these Terms and Conditions or otherwise. All other provisions of these Terms and Conditions which in order to give effect to their meaning need to survive the termination of your right to access and use the Website (including without limitation all restrictions imposed on you, licenses granted by you and indemnities provided by you together with all disclaimers and limitations of liability in favour of BOUND ROUND) will survive termination.
  </p>
  <p>
    <strong>JURISDICTIONAL ISSUES</strong><br>
    Unless otherwise specified, the Website Material is presented solely for the purpose of creating an online travel information and educational game for kids and their parents. The Website allows Users to review, and share information about their favourite places (including but not limited to zoos, museums, theme parks, beaches, hotels and resorts, tours operators, parks, cafes, restaurants) with other Users.  This site is controlled and operated by BOUND ROUND from its offices within Australia. BOUND ROUND does not represent that the Website Material is appropriate or available for use in other locations. Those who choose to access this site from other locations do so on their own  initiative and are responsible for compliance with local laws, if and to the extent that local laws are applicable.<br>
    These terms and conditions will be governed and construed in accordance with the laws of New South Wales, Australia. You irrevocably and unconditionally submit to the non-exclusive jurisdiction of the courts of New South Wales and any courts of appeal from them for determining any dispute concerning these terms and conditions. If any provision of these terms and conditions are found to be invalid or unenforceable by a court of law, such invalidity or unenforceability will not affect the remainder of these terms and conditions, which will continue in full force and effect.
  </p>

</div>
