<div class="container-fluid br-container">
	<div class="br-image">
	  <div class="br-header">
	    <a href="https://boundround.com/" rel="nofollow"><img src="https://s3-ap-southeast-2.amazonaws.com/brwebproduction/images/br-logo-new-2016-white.png"></a>
	 </div>

	 <div class="br-dialog">
	      <h3 class="br-error">Stamp error</h3>
	      <h4>Please try to stamp again.</h4>
	      <p>Holding the stamp to the screen for longer may help.</p>
	  </div>
	</div> <!-- end image -->
</div> <!-- end container -->

<footer class="container-fluid br-stamp-error br15_footer">
  <div class="col-md-12 col-xs-12">
    <ul>
      <li><a href="https://boundround.com/" rel="nofollow">
        <img id="vertical-none" src="https://s3-ap-southeast-2.amazonaws.com/brwebproduction/images/br-logo-new-2016-white.png" class="br-stamp-footer"/></a></li>
      <li><a href="http://boundround.com/travel-industry/" target="blank" rel="nofollow">The Travel Industry</a></li>
      <li><a href="http://boundround.com/education/" target="blank" rel="nofollow">Teachers</a></li>
      <li><a href="http://boundround.com/media/" target="blank" rel="nofollow">Media</a></li>
      <li><a href="https://www.surveygizmo.co.uk/s3/1997229/Kids-in-travel/" target="blank" rel="nofollow">Your Say</a></li>
      <li><a href="http://boundround.com/privacy-terms/" target="blank" rel="nofollow">Privacy Policy</a></li>
      <li><a href="http://boundround.com/about-us/" target="blank" rel="nofollow">About Us</a></li>
      <li><a href="http://boundround.com/contact-bound-round/" target="blank" rel="nofollow">Contact</a></li>
    </ul>
  </div>
</footer>
