<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Notification for user photo turned live
    </p>
    <img src="<%= @photo.path_url(:medium) %>">
  </body>
</html>
