<!--for looping(li) <ul class="list-unstyled ">
  <li>
      <a href="#" class="row center-block">
          Visiting Fiji In The Winter
      </a>
  </li>
</ul> -->
<!-- <div class="col-md-12 text-center">
  <h2>
    Travel stories from <%#= @storiable.display_name %>
  </h2>
  <%# if user_signed_in? %>
    <a href="#" data-toggle="modal" data-target="#storyModal" class="br_create_btn btn btn-default">+ Create story</a>
  <%# else %>
    <a href="#reviews" data-toggle="modal" data-target="#signInModal" class="br_create_btn btn btn-default">+ Create Story</a>
  <%# end %>
</div> -->

<ul class="list-unstyled ">
  <% @stories.each_with_index do |story, index| %>  
  <li>
      <a href="#" class="row center-block">
          <%= story.title %>
      </a>
  </li>
  <% end %>
</ul>
