<div class="region stories grey">
    <div class="width-limiter">
        <h3 class="proposal__header">Stories</h3>
        <ul class="" id ="stories-list">
          <%= render partial: "stories/all_stories_regional_list", collection: @stories, as: :story %>
        </ul>
        <!-- <a class="load-more" href="#">load more</a> -->
        <% unless last_page? @stories %>
          <div class="hidden-xs single-pagination-container" id="stories-single-pagination-container">
            <div class="hidden single-pagination-loader" align="center">
              <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
            </div>
              <%= link_to "load more", paginate_stories_region_path(@region, stories_page: @stories.next_page, resources: 'stories', pagination_template: 'stories/all_stories_regional_list', collection_object: 'stories'), class: 'load-more', remote: true %>
          </div>
      <% end %>
    </div>
</div>