<div  class="modal fade" id="story">
        <div class="text-center">
          <img src="<%= asset_path('Badge.png') %>"/><br/>
        </div><br/><br/>
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div style="" class="img-cont share">
              <div class="share-btn">
                <span class="glyphicon glyphicon-picture"></span><br>
                <div class="br_upload_2">
                 <button href="#" class="btn">+ Add feature image</button>
                 <input type="file"/>
               </div>
            </div>
          </div>
          <div class="br_form text-center">
            <input type="text" class="form-control text-center" placeholder="What’s the name of your story?"/>
            <textarea class="form-control text-center" placeholder="Write an introduction to your story"></textarea>
          </div>
          <div class="br_mid text-center">
            <hr/>
              <div class="br_upload_2">
                 <button href="#" class="btn">Add  image & copy</button>
                 <input type="file">
               </div>
            <hr/>
              <div class="br_upload_2">
                   <button href="#" class="btn">Add  image</button>
                   <input type="file">
                 </div>
            <hr/>
              <div class="br_upload_2">
                   <button href="#" class="btn">Add new paragraph</button>
                   <input type="file">
                 </div>
             </div>
             <hr/>
             <div class="br_modal-footer text-center">
               <button class="btn btn-lg">Publish story</button><br>
               <a href="#" data-dismiss="modal" aria-label="Close" >Cancel</a>
             </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div>
</div>
