<!-- MODAL SHOW STORY -->
<div id="show-story-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="story-close" class="close close-modal-orange" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center">Your Story</h3>
        <!-- <h4 class="modal-title font-orange2" align="center">asd</h4> -->
      </div>
      <div class="modal-body" align="center">
        <div class="mid-cont" id="modal-dialog-story">
          <h1 class="text-center" id="story-title"></h1>
          <h3 class="text-center" id="story-user"></h3>
          <div class="mid-cont" id="story-image-2a">
            <span id="story-content"></span>
            <div class="clearfix"></div>
            <div class="slider-cont">
              <div id="story-image-3a"></div>
            </div>
          </div>
          <hr/>
          <div class="br_modal-footer text-center">
            <a href="#" data-dismiss="modal" aria-label="Close" >Cancel</a>
          </div>
        </div>
        <div id="modal-dialog-blog">
          <iframe class="" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="700px"></iframe>
          <hr/>
          <div class="br_modal-footer text-center">
            <a href="#" data-dismiss="modal" aria-label="Close" >Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL SHOW STORY -->
