<% slug = @story.storiable.slug %>

<div class="stories-show">
<div class="container">
	<div class="row">
        <div class="outer-profile">
          <img src="<%= @story.user.avatar_url rescue "" %>" />
        </div>
        <p><div style="color:#fd7c56;margin-top:-7px;"><%= @story.user.username rescue "" %></div></p>
		<div class="col-md-12"><%= @story.title.html_safe %></div>
		<div class="col-md-12"><%= @story.content.html_safe %></div>
	</div>
</div>
</div>

