<div class="<%= container %> photo-components-wrapper">
  <div class="row">
    <div class="owl-carousel carousel" id="deals-list">
      <%= render partial: 'shared/deals_list', collection: @deals, as: :deal %>
    </div>
  </div>
</div>
