<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Janice,</h1>
    <p>
      Someone from <%= "#{@city}, #{@country}" %> has just requested to add a place to Bound Round:<br>
      <%= @place %>.<br>
    </p>
  </body>
</html>
