
<li>
                        <a href="#">
                            <div class="th-img-block">
                                <img src="http://lorempixel.com/400/300/nature" alt="">
                            </div>
                            <div class="th-content">
                                <span class="posi-nights"> 8 nights </span>
                                <span>From $1399 </span>
                                <p class="xs-heading">Whitsundays 6 Senses Resort</p>
                                <span class="arrow"></span>
                            </div>
                        </a>
                    </li>