<li>
  <a href="<%= offer_path(offer) %>">
    <div class="th-img-block">
      <img src="<%= draw_small_background(offer) %>" alt="">
    </div>
    <div class="th-content">
      <span class="posi-nights"> 8 nights </span>
      <span>From $<%= offer.minRateAdult %> </span>
      <p class="xs-heading"><%= offer.name %></p>
      <span class="arrow"></span>
    </div>
  </a>
</li>
