<li>
                <a href="<%= offer_path(offer) %>">
                    <div class="po-content-wrapper">
                        <img style="background: url('/assets/br_15_main.jpg')center center no-repeat;" class="cover-bg">
                        <div class="po-content-block">
                            <p class="xs-heading">
                                <%= offer.name %>
                            </p>
                            <div class="po-price">
                                <span class="lg">
                                    <span>$</span>
                                    <span class="po-price-self">1399</span>
                                </span>
                                <span class="sm">per person</span>
                            </div>
                            <div class="po-stay-info">
                                <span class="posi-nights">8 nights</span>
                                <span class="posi-date">Book by <%= offer.startDate.strftime("%d %B %Y") %></span>
                            </div>
                            <div class="label-crown"></div>
                        </div>
                    </div>
                </a>
            </li>