<div class="container" data-controller="product">
  <h1>Create New Offer</h1>
  <%= simple_form_for @offer, url: offers_path, html: { role: 'form'} do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
