---
http_interactions:
- request:
    method: get
    uri: https://dev1.livngds.com/livngds/api/products/997
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Qm91bmRSb3VuZEFVOnU1XF1ne3olK1BwKVJ3Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"product":{"bookable":true,"id":997,"cid":8806,"operatorId":50,"operatorCid":349,"operatorName":"Adventure
        Tours Australia","disabled":false,"name":"Bali & Lombok Adventure","code":"TISGC","description":"Bali
        & Lombok Adventure\n\nGet ready for a magical getaway on the picturesque Islands
        of Indonesia on this tropical adventure. Travel through Bali and Lombok blending
        gorgeous beaches, great food and rich cultures with Indonesia''s warm weather
        and sapphire seas. This trip is guaranteed to leave you enthralled as you
        walk, cycle, snorkel, hike and swim through pristine environs and discover
        the allure of these two unique islands. Both Bali and Lombok are famous for
        their beauty and welcoming spirit, which you will experience at every turn
        of this trip.","parentId":996,"parentCid":8805,"parentName":"Bali & Lombok
        Adventure","parentCode":"TISGC","parentDescription":"Get ready for a magical
        getaway on the picturesque Islands of Indonesia on this tropical adventure.
        Travel through Bali and Lombok blending gorgeous beaches, great food and rich
        cultures with Indonesia''s warm weather and sapphire seas. This trip is guaranteed
        to leave you enthralled as you walk, cycle, snorkel, hike and swim through
        pristine environs and discover the allure of these two unique islands. Both
        Bali and Lombok are famous for their beauty and welcoming spirit, which you
        will experience at every turn of this trip.","paxDetails":{"dob":"ALL","address":"NOT_REQ","country":"ALL","name":"ALL","language":"NOT_REQ","email":"ALL","phone":"ONCE","mobile":"ALL","nationality":"NOT_REQ","passport":"NOT_REQ"},"minRateAdult":2250.00,"maxRateAdult":2360.00,"wholesaleCommissionPerc":15.00,"ratesCached":"2016-11-25T19:40:09.595+11:00","pickupsChanged":"2015-08-20T09:32:17.310+10:00","duration":1296000000,"operatingDays":32,"operatingDaysStr":"Sat","operatingSchedule":"Departs
        from Ubud: Sat 02 Jul 2016, Sat 09 Jul 2016, Sat 16 Jul 2016, Sat 23 Jul 2016,
        Sat 30 Jul 2016, Sat 06 Aug 2016, Sat 13 Aug 2016, Sat 20 Aug 2016, Sat 27
        Aug 2016, Sat 03 Sep 2016, Sat 10 Sep 2016, Sat 17 Sep 2016, Sat 24 Sep 2016,
        Sat 01 Oct 2...","locationStart":"Ubud","latitudeStart":-8.497724999999999,"longitudeStart":115.263014,"locationEnd":"Senggigi","latitudeEnd":-8.485465999999999,"longitudeEnd":116.047299,"tags":["bedugul","gili
        islands","indonesia","lovina","mt batur","sanur","senaru","senggigi","sidemen","tetebatu","ubud"],"requiredMultiple":1,"minPaxCount":1,"maxPaxCount":1,"pickupNotes":"Tour
        start in Ubud","dropoffNotes":"Tour finishes in Senggigi","highlightsStr":"Adventure
        to the summit of Mt Batur, where, on a clear morning, dazzling sunrise vistas
        stretch across the Lombok Strait, all the way over to the peaks of Mt Rinjani.\nSnorkelling
        the crystal waters around Menjangan Island reef and also the Gili Islands.
        Hopefully spot some tropical fish and sea turtles.\nGet an insight into the
        real Indonesia, with cultural activities and visiting local villages.\nSee
        the contrasts in religion and culture between Bali and Lombok.","itineraryStr":"Day
        1: Ubud - Om Swastiastu! Welcome to Ubud, the arts and cultural centre of
        Bali. Your adventure begins with a welcome meeting at 6 pm on Day 1. Please
        look for a note in the hotel lobby or ask reception where it will take place.
        Afterwards, perhaps head out to Gianyar night market to try some of the local
        cuisine. It''s an informal setup, but a great way to get a taste of the local
        culture and cuisine.\n\nNotes: Your room in Ubud is not air-con[...]
