<% variable = @place.blank? ? @attraction : @place %>
<% path = (variable.eql? @place)? 'place' : 'attraction' %>
<div class="container">
  <h3>Photos</h3>
  <%= link_to "Back To Edit #{variable.display_name}", eval("edit_#{path}_path(variable)") %>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-3">
        <img src="<%= photo.path_url(:small)%>">
      </div>
    <% end %>
  </div>
</div>
