<p class="top20">
  <a href="<%= country_path(@country) %>" class="btn btn-primary"
    target="_blank">View Country Page</a>
  <!-- <a href="<%= choose_hero_country_path(@country) %>"
    class="btn btn-primary">Edit / Add Photos</a>
  <a href="<%= all_country_videos_path(@country) %>"
    class="btn btn-primary">Videos</a>
  <a href="<%= all_country_fun_facts_path(@country) %>"
    class="btn btn-primary">Fun Facts</a> -->
</p>