<% if !@country.fun_facts.blank? %>
<%# debugger  %>
<div class="col-sm-8 col-sm-8 col-md-8 hidden-xs">
  <h4 class="text-left">Fun Facts</h4>
  <div id="carousel-fun-fact" class="carousel slide carousel-desk-fun" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <% @country.fun_facts.active.each_with_index do |fun_fact, index| %>
        <div class="item">
          <div class="fun-image">
            <div class="img">
                <img src="<%=showing_image(fun_fact.hero_photo.url || asset_path(get_random_place_photo(@country))) %>" alt="">
            </div>
            <div class="number <%= color %>"><span><%= index+1 %></span>
            </div>
          </div>
          <div class="carousel-caption cs-caption">
            <p><%= raw fun_fact.content %></p>
          </div>
        </div> <!-- /item -->
      <% end %>

    </div>
    <!-- Controls -->
    <a class="left carousel-control left30" href="#carousel-fun-fact" role="button" data-slide="prev">
      <i class="fa fa-arrow-left i-funfact"></i>
    </a>
    <a class="right carousel-control" href="#carousel-fun-fact" role="button" data-slide="next">
      <i class="fa fa-arrow-right i-funfact"></i>
    </a>
  </div>
</div> <!-- /hidden-xs -->
<% end %>
