<% provide(:title, "Stories") %>
<div class="container">
  <div class="row">
    <div class="head-title">
      <h2 class="gray-font">Stories</h2>
    </div>
  </div>
</div>

<div class="border-section btm20"></div>

<% if @stories.present? %>
  <section class="your-stories video-show">
    <div class="container">
      <div class="text-left">
      </div>
      <!-- <div class="row"> -->
        <%= render partial: "stories/all_stories"%>
      <!-- </div> -->
    </div>
  </section>
<% end %>
<div class="border-section btm20"></div>
