<% provide(:title, @post.title) %>
<% provide(:category, @post.teaser) %>
<% provide(:description, @post.description) %>

<div class="container blog-container thing-page">
  <h1 class="post-heading"><%= @post.title %></h1>
  <%= raw @post.content %>
</div>


<style>
  img {
    margin-right: 20px;
  }

</style>
