  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 *= require jquery.ui.all
 *= require bootsy
 *= require iconlabel
 *= require font-awesome
 *= require leaflet.label
 *= require L.Control.Zoomslider.css
 *= require MarkerCluster.css
 *= require MarkerCluster.Default.css
 *= require mapbox.css
 *= require users.css
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require virgin
 *= require countries
 *= require bootstrap-select.min
 *= require bootstrap-theme.min
 *= require jcarousel.responsive
 *= require owl.carousel
 *= require owl.theme
 *= require new-style.css
 */
 
@media screen and (min-width: 200px) and (max-width: 768px){
    .responsive-minHeight{
      height:500px;
    }
  }
  
@media (max-width: 773px) {
  .img_bg_header {
  	display: block;
    // background: url('/assets/br_15_main.jpg') no-repeat;
    background: url(asset_path("br_15_main.jpg")) no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 3px solid #fff;
    margin-top: -15px;
  }

  .video_bg_header {
    display: none;
  }
}

// @media (min-aspect-ratio: 16/9) {
//   .video_bg_header {
//     width: 100%;
//     height: auto;
//     margin-top: -255px;
//   }
// }

// @media (max-aspect-ratio: 16/9) {
//   .video_bg_header {
//     width: auto; /* actually wider than viewport */
//     height: 100%;
//     margin-top: -255px;
//   }
// }