@media screen and (min-width: 1201px) {
  .cart-product-value {
    min-width: 350px;
  }

  .right-align-button {
    float: right;
  }

  .inline-buttons {
    display: inline-block;
  }

  .cart-delete-product-btn {
    margin-top: 10px;
  }

  .buttons-group {
    width: 100%;
  }
}

.cart-product-photo {
  float: left;
  margin: 0px 15px 15px 0px;
}
