@import 'bootstrap';
@import 'font-awesome';



body {
  font-family: 'Signika', sans-serif;
  height: 0px;
  background-color: #73c7d2;
}



.container {
  padding: 0 15px 50px 15px;
}

// carousel styling
#area-carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-content {
  text-align: center;
}

.carousel-inner {
  padding: 0 50px;
}

.carousel-caption {
  position: static;
  text-shadow: none;
  font-family: Arial, sans-serif;
  color: black;
  margin-top: -48px;
  font-size: 14px;
}

carousel-control {
  height: 100px;
  margin-top: 20%;
  background-image: none !important;
  color: dodgerblue;
}

.dropdown {
  margin-top: 20px;
}

.dropdown-menu {
  background-color: #A8A9AD;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li a {
  padding: 0 10px 0 0;
  color: white;
  font-size: 1.5em;
}

.dropdown-menu-icon {
  padding-right: 15px;
  width: 88px;
  height: auto;
}

.menu-button {
  background-color: #de4652;
  border: none;
}

.icon-wrapper {
  float: left;
  margin-right: 5px;
  position: absolute;
}

.card-icon {
  width: 15%;
}

.vertical-space {
  height: 25px;
}

.about-wrapper {
  background-color: #EA9087;
}

.about {
  width: 100%;
}

.about-content {
  padding: 15px;
}

.photo-form {
  margin-top: 100px auto;
}

.left {
  margin-left: -50px;
}

.right {
  margin-right: -70px;
}

.hide {
  display: hidden;
}

.area-description-input {
  min-height: 100px;
}


.facebook-sign-in {
  width: 200px;
  height: auto;
}

.flash {
  float: left;
}

.navbar {
  margin: 0;
}

.marker-cluster-small div {
  background-color: sandybrown !important;
}

.page-wrap {
  min-height: 100%;
  position: relative;
  margin-bottom: -65px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px;
}

.footer {
  margin-top: 15px;
  width: 100%;
  background-color: #E98F87;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
}

.close-button {
  width: auto;
  height: 100%;
}

.item {
  margin-top: 10px;
}

#photos-masonry {
  padding: 0;
  width: 60%;
  margin: 0 auto;

}

.grid-sizer { width: 50%; }

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #73C7D2;
}

.leaflet-control-zoomslider-knob {
  width:14px;
  height:6px;

}
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
}

.modal-content {
  height: 100%;
  overflow: scroll;
  background-color: #de4652;
  border: none;
  border-radius: 0;
}

.area-content {
  background-color: #de4652;
  height: 99%;
  color: white;
}

.banner {
  margin-top: 20px;
  margin-right: -48px;
  width: 380px;
  position: relative;
  display: inline-block;
}

.title-wrapper {
height: 150px;
}


.banner-wrapper {
  text-align: center;
}

.title {
  position: absolute;
  top: -15px;
  width: 100%;
  padding: 0% 10% 2% 10%;
	background-image: url(asset_path('title_banner-01_resizeable.svg'));
	background-size: 100% 100%;
}

.dude {
  width: 20%;
  height: auto;
  margin-top: -50px;
  margin-bottom: -5%;
}

.dude-image {
  width: 75%;
}

.wysihtml5-sandbox {
  height: auto !important;
  }

.edit_photo {
  display: inline-block;
  width: 48%;
  margin-right: 1%;
}

@media (max-width: 900px) {

  #photos-masonry {
    width: 75%;
/*	margin: 25% auto;*/
  }
}

@media (max-width: 500px) {

  #photos-masonry {
    width: 100%;
/*	margin: 12% auto;*/
  }

  .banner-wrapper {
    width: 85%;
  }

  .banner {
    width: inherit;
  }

  .blue-banner {
    width: inherit;
    height: 100%;
  }

  .title-wrapper {
	height: 70px;
  }

  .title {
    font-size: 20px;
  }

}
