@import 'bootstrap';
@import 'font-awesome';


body {
  font-family: 'Signika', sans-serif;
  height: 0px;
}

.place-photo {
  width: 100%;
  max-height: 600px;
}

.small-photo {
  width: 300px;
}

#area-carousel {
  max-width: 800px;
  margin: 0 auto;
}

.photo-form {
  margin-top: 100px;
}

.carousel-content {
  text-align: center;
}

.carousel-inner {
  padding: 0 50px;
}

.carousel-caption {
  position: static;
  text-shadow: none;
  font-family: Arial, sans-serif;
  color: black;
  margin-top: -48px;
  font-size: 14px;
}

.add-photo {
  margin-left: 38%;
}

.carousel-control {
  height: 100px;
  margin-top: 20%;
  background-image: none !important;
  color: dodgerblue;
}

.left {
  margin-left: -50px;
}

.right {
  margin-right: -70px;
}

.fun-fact {
  position: absolute;
  background-color: white;
  text-align: left;
  margin-left: 5em;
  margin-top: 4px;
  height: 53px;
  padding-left: 10px;
  display: none;
}

.fun-fact-icon {
  position: absolute;
  margin-top: 4px;
}


.hide {
  display: hidden;
}

.area-description-input {
  min-height: 100px;
}

.modal-content {
  overflow: scroll;
}

.facebook-sign-in {
  width: 200px;
  height: auto;
}

.flash {
  float: left;
}

.navbar {
  margin: 0;
}

.marker-cluster-small div {
  background-color: sandybrown !important;
}

.close {
  width: 110px;
  margin-top: 10px;
}
.close.button {
  width: 35px;
  height: 35px;
  margin-top: -5px;
}

.photo {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  width: 25%;
}
