#map2d,
#map-wrapper,
#map {
    height: 100%;
    width: 100%;
    position: absolute;
}
/*.blur {
opacity: .5; -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
}*/

#info-box {
    background-color: white;
    border: 1px solid black;
    top: 30px;
    height: 200px;
    padding: 10px;
    position: absolute;
    right: 30px;
}

.map-wrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: block;
    top: 0;
    left: 0;
    z-index: 000;
    opacity: 0;
}

.map-wrapper.enabled .overlay {
    display: none;
}

.no-bg {
    background: transparent !important;
}
