body.white-body{
  overflow-x: hidden !important;
}
/*Sign-up*/
.br_sign_style_modal {
    background: none;
}
.br_sign_style_modal .modal-content {
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.039);
    -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.039);
    -moz-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.039);
    border: 1px solid #f07656;
    border-radius: 8px;
    /*border-radius: 0;*/
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width:800px){
.modal.in .modal-dialog.cs-modal-dialog{
      width: 85% !important;
      margin: auto !important;
  }
}

.br_sign_style_modal .modal-dialog.cs-modal-dialog {
    padding-top: 85px;
    margin:auto;
    margin-bottom:30px;
    width:100%
}

.br_sign_style_modal .modal-footer {
    padding: 8px 15px;
    text-align: right;
    border-top: 1px solid #F07656;
}
.br_sign_style_modal .br_shell {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid #F07656;
    padding-bottom: 0;
    width: 110px;
    height: 110px;
    margin: -60px auto 0;
}

.br_sign_style_modal h1.text-center {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
.br_sign_style_modal .modal-header label {
    position: absolute;
    top: 10px;
    left: calc(50% + 62px);
    text-transform: uppercase;
    color: #F07656;
}
.br_sign_style_modal input.form-control{
    border: 0;
    box-shadow: none;
    color: #555555;
    font-size: 19px;
    padding: 0;
    border-bottom: 1px solid #F07656;
    border-radius: 0;
    padding-bottom: 5px;
    font-weight: 400;
    margin-bottom: 15px;
}
.br_sign_style_modal .control-group .controls input {
    border: 0;
    box-shadow: none;
    color: #555555;
    font-size: 19px;
    padding: 0;
    border-bottom: 1px solid #F07656;
    padding-bottom: 5px;
    font-weight: 400;
    margin-bottom: 5px;
    width: 100%;
}
.br_sign_style_modal .control-group .controls input:focus {
  outline:0px!important;
}
.homepage{
    background: #7CC1FA;
}
.br_sign_style_modal .control-group .controls{
  margin-bottom:5px;
}

.br_sign_style_modal .modal-body label {
    color: #3C3939;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}
.br_sign_style_modal .modal-header {
    border-bottom: 1px solid #ebebeb;
}
.br_sign_style_modal hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #ebebeb;
}
.br_modal_contry_left {
    margin-top: 15px;
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    padding-bottom: 15px;
}
.br_modal_contry_right{
    margin-top: 15px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    padding-top: 10px;
    padding-bottom: 15px;
}
.br_sign_style_modal .modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 0;
}


body.br_tab.modal-open .datepicker *{
    color: #fff !important;
}
body.br_tab.modal-open .datepicker table tr td.day:hover,body.br_tab.modal-open .datepicker table tr td.day.focused {
    background: #a459a0;
    cursor: pointer;
}
body.br_tab.modal-open .datepicker table tr td.active:hover,body.br_tab.modal-open  .datepicker table tr td.active:hover:hover,body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover,body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover:hover,body.br_tab.modal-open  .datepicker table tr td.active:active,body.br_tab.modal-open  .datepicker table tr td.active:hover:active,body.br_tab.modal-open  .datepicker table tr td.active.disabled:active,body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover:active,body.br_tab.modal-open  .datepicker table tr td.active.active,body.br_tab.modal-open  .datepicker table tr td.active:hover.active,body.br_tab.modal-open  .datepicker table tr td.active.disabled.active,body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover.active,body.br_tab.modal-open  .datepicker table tr td.active.disabled,body.br_tab.modal-open  .datepicker table tr td.active:hover.disabled,body.br_tab.modal-open  .datepicker table tr td.active.disabled.disabled,body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover.disabled,body.br_tab.modal-open  .datepicker table tr td.active[disabled],body.br_tab.modal-open  .datepicker table tr td.active:hover[disabled],body.br_tab.modal-open  .datepicker table tr td.active.disabled[disabled],body.br_tab.modal-open  .datepicker table tr td.active.disabled:hover[disabled] {
    background-image:none ;
    background-color: #a459a0 !important;
    background:  #a459a0 !important;

}
body.br_tab.modal-open .datepicker table tr td span.active:hover,body.br_tab.modal-open  .datepicker table tr td span.active:hover:hover,
body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover,body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover:hover,body.br_tab.modal-open .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,body.br_tab.modal-open .datepicker table tr td span.active.disabled:active, body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover:active,body.br_tab.modal-open .datepicker table tr td span.active.active,body.br_tab.modal-open .datepicker table tr td span.active:hover.active, body.br_tab.modal-open .datepicker table tr td span.active.disabled.active,body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover.active,body.br_tab.modal-open .datepicker table tr td span.active.disabled,body.br_tab.modal-open .datepicker table tr td span.active:hover.disabled,body.br_tab.modal-open .datepicker table tr td span.active.disabled.disabled,body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover.disabled,body.br_tab.modal-open .datepicker table tr td span.active[disabled], body.br_tab.modal-open .datepicker table tr td span.active:hover[disabled],body.br_tab.modal-open .datepicker table tr td span.active.disabled[disabled],body.br_tab.modal-open .datepicker table tr td span.active.disabled:hover[disabled] {
    background: none;
    background-color: #a459a0;
}
body.br_tab.modal-open .datepicker .datepicker-switch:hover,body.br_tab.modal-open .datepicker .prev:hover, .datepicker .next:hover,
body.br_tab.modal-open .datepicker tfoot tr th:hover{
    background: none;
    background-color: #a459a0;
}
.br_sign_style_modal .form-control[disabled], .br_sign_style_modal .form-control[readonly],.br_sign_style_modal  fieldset[disabled] .form-control {
    background-color: rgba(238, 238, 238, 0);
    opacity: 1;
}
body.br_tab.modal-open .datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f07656;
    border-top: 0;
    position: absolute;
}
body.br_tab.modal-open .datepicker table tr td span:hover {
    background: #a459a0;
}
.br_modal_contry_left button.btn.dropdown-toggle.btn-default {
    border: 0;
    border-bottom: 1px solid #F07656;
    border-radius: 0;
    box-shadow: none !important;
}
.br_modal_contry_left + .btn-group.bootstrap-select.form-control.dropup *{
    box-shadow: none;
    border-radius:0 !important; ;
}
body.br_tab.modal-open *{
    outline: none !important;
}
body.br_tab.modal-open .bootstrap-select.btn-group .dropdown-menu{
    border-radius: 0;
}
body.br_tab .bootstrap-select.btn-group .dropdown-menu>li>a:focus,body.br_tab .bootstrap-select.btn-group .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a459a0;
    outline: none;
}
body.br_tab .bootstrap-select.btn-group .dropdown-menu>li>a:focus,body.br_tab .bootstrap-select.btn-group .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a459a0;
}
body.br_tab .bootstrap-select .dropdown-toggle:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
.br_modal_contry_left button.btn.dropdown-toggle.btn-default {
    border: 0;
    border-bottom: 1px solid #F07656;
    border-radius: 0;
    padding: 0;
    box-shadow: none !important;
    color: #555555;
    font-size: 19px;
    padding-bottom: 5px;
}

.br_sign_style_modal .dropdown-menu > li{
  border-radius: 0px !important;
}
body.passport-page .br_sign_style_modal .bootstrap-select.btn-group .dropdown-menu>li>a:focus, body.passport-page .br_sign_style_modal .bootstrap-select.btn-group .dropdown-menu>li>a:hover{
    color: #fff;
    text-decoration: none;
    background: #F07656;
    outline: none;
  }
body.passport-page .br_sign_style_modal .bootstrap-select.btn-group .dropdown-menu>li>a, body.passport-page .modal .br_sign_style_modal .bootstrap-select.btn-group .dropdown-menu>li>a{
border-radius: 0px !important;
}

body.passport-page .br_sign_style_modal .bootstrap-select.btn-group .dropdown-menu.inner{
  border-radius: 0px !important;
}

/*NEW*/

body.br_tab.modal-open * {
  outline: none !important;
}
button.close.cs-close, a.close.cs-close{
  background: rgba(0, 0, 0, 0) url("/assets/crossBtn.png") no-repeat scroll 0 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  left: 26px;
  opacity: 1 !important;
}
button.close.cs-close.close-signin, a.close.cs-close.close-signin{
  position: relative;
  bottom: 111px;
}
button.close.cs-close.close-signup, a.close.cs-close.close-signup{
  position: relative;
  bottom: 68px;
}

 @media screen and (min-width: 200px) and (max-width: 768px){
     .responsive-minHeight{
       height:500px;
     }
   }

 @media (max-width: 773px) {
   .img_bg_header {
     display: block;
     background: url('/assets/br_15_main.jpg') no-repeat;
     background-size: cover;
     padding-top: 100px;
     padding-bottom: 100px;
     border-bottom: 3px solid #fff;
     margin-top: -15px;
   }

   .video_bg_header {
     display: none;
   }
 }

.modal-footer .left p{
  line-height: 17px;
  margin:0px;
  padding: 2px;
}

@media screen and(max-width:767px) {
  .modal-footer .right {
    margin-left: -12px;
  }
}

.modal-footer .right {
  /*width: 136px;*/
  margin-left: -12px;
  margin-top: 16px;
}

.modal-footer a:hover{
  text-decoration: none;
}

.img-logo-area{
  margin-top: -96px;
}
.modal-header.cs-header{
  border: none;
}

h1.sign-in {
  text-transform: none !important;
  color: #F17655 !important;
  font-weight: 600 !important;
  font-size: 30px !important;
}

.label-field{
  color: #959595;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
.forgot-password{
  color: #F17655 !important;
  font-size: 9pt;
}
.or{
  color: #959595;
  margin-top: 0px;
}

.btn.btn-block{
  margin-bottom: 15px;
}

.btn-primary.btn-blue{
  background: #295B86 !important;
  border: none
}
.btn-warning.btn-orange{
  background:#F07656 !important;
  color: #fff;
  border: none;
}

.btn-default.btn-cancel{
  background: none;
  border: none;
  color: #F07656;
}

#signInModal{
  z-index: 1500;
  overflow: scroll;
  overflow-x: hidden;
  width:100% !important;
  margin:0px;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:1024px){
  #signup_modal .modal-dialog{
    width: 85% !important;
    margin:auto ;
    margin-top: 84px;
    margin-bottom: 50px;
  }
}
#signup_modal .modal-dialog{
  margin-top: 83px;
  margin-bottom: 30px;
}

.form-inline .control-group.date{
  width: 100%
}

.form-inline button.btn.dropdown-toggle.btn-default{
  border: none;
  border-bottom: 1px solid #F07656;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.form-inline .open button{
  border:none !important;
  border-bottom: 1px solid #F07656 !important;
}
.form-inline > .control-group > .controls div:nth-child(2){
  margin-right: 78px;
}
.form-inline > .control-group > .controls div:nth-child(4){
  margin-right: 59px;
}
.modal-backdrop{
  z-index:1 !important;

}

::-webkit-input-placeholder {/* WebKit browsers */
  color:    #959595 !important;
}
:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
  color:    #959595  !important;
  opacity: 1;
}
::-moz-placeholder {/* Mozilla Firefox 19+ */
  color:    #959595  !important;
  opacity: 1;
}
:-ms-input-placeholder {/* Internet Explorer 10+ */
  color:    #959595  !important;
}
.div-forgot{
  padding-bottom: 10px;
}
#forgot_password{
  padding-top: 102px;
}
#forgot_password .modal-content{
min-height: 300px;
}

.insta-sign-in-button{
  height: initial !important;
  padding:6px 12px !important;
}
@media screen and (max-width: 1024px){
  #forgot_password .modal-dialog{
    width: 85%;
    margin: auto;
  }
}

.alert{
  background: #fff;
}
.br_sign_style_modal.signin{
  background: none !important;
  overflow-y: hidden !important;
}
.dropdown.br_profile .dropdown-menu.cs-dropdown-menu{
 left: -81px;
}
@media (max-width: 767px) {
.a-signin a{
  color: #F07656;
  text-transform: uppercase;
}
.dropdown.br_profile.a-signin{
  top: 5px !important;
}
.dropdown.br_profile.a-signin .dropdown-menu.cs-dropdown-menu{
  left: -75px !important;
  top: 40px;
}

.br15_search.cs-br15_search{
  right: 22.5%;
}
.dropdown.br_profile .dropdown-menu.cs-dropdown-menu{
  border-radius: 4px ;
  background: #fff ;
  padding: 10px 0px ;
  top: 45px;
  left: -99px;
}
.dropdown.br_profile{
  top:0 !important;
  padding-top: 2px !important;
}
.dropdown.br_profile img.cs-img{
  width:35px;
  height:35px;
}

.dropdown.br_profile.open{
  width: initial !important;
  z-index: 1301;
}
.dropdown.br_profile button.btn.dropdown-toggle{
  padding: 0px 5px;
}
.dropdown.br_profile ul.dropdown-menu.cs-dropdown-menu > li> a{
    color: #aaa !important;
    border: none !important;
    text-align: left;
    padding: 2px 16px;
}
.dropdown.br_profile .dropdown-menu.cs-dropdown-menu li > a:hover{
  text-decoration: none !important;
}

}
@media(max-width: 500px){
  .br15_search.cs-br15_search{
    right: 31.5%;
  }
  .dropdown.br_profile.a-signin{
  right: 5px !important;
  }
}
@media(max-width: 320px){
  .br15_search.cs-br15_search{
    right: 39.5%;
  }
  .dropdown.br_profile.a-signin{
  right: 5px !important;
  }
}

#home-background-video{
  /*margin-top: -255px;*/
  width: 100%;
  position: relative;
}

.row.br15_header.cs-br15_header{
  padding-bottom: 0;
  height: 392px;
  overflow-y: hidden;

}
#rowVideo{
  overflow: hidden;
}

@media(min-width:774px) and (max-width:994px){
  #home-background-video{
      width: 132%;
      bottom: 332px;
  }
 }

@media(min-width:995px){
  #home-background-video{
      bottom: 337px;
      /*width: 125%;*/
  }
}
@media(min-width:1170px){
  #home-background-video{
      bottom: 414px;
  }
}
@media(min-width:2140px){
  #home-background-video{
      bottom: 600px;
  }
}
/*@media(min-width:2000px){
  #home-background-video{
      bottom: -670px;
  }
}*/
/*@media screen and (min-width:1024px){
  #rowVideo{
  height: 392px;
  overflow-y: hidden;
  min-width: 100%;

  }
  #home-background-video{
    height: 745px;
    top: -103px;
  }
}*/

.br_area h1.br_top_heading_mob {
  line-height:50px !important;
}

.br_area .navbar-collapse.cs-navbar-collapse{
  z-index:1400;
}
.br_area .navbar-toggle.cs-navbar-toggle .icon-bar{
  background: #fff  ;
}
.br_profile{
  position: absolute !important;
  right: 15px !important;
  top: 22px !important;
}
.img_bg_header{
  z-index: 1;
}
.modal.fade.br_add_pic{
    z-index: 1301;
}
/*#NEW 23 Nov*/
.place-photo-credit{
   position: absolute;
   bottom: 10px;
   left:35px;
   text-align:left;
   color: #fff;
   font-weight: 900;
   text-shadow:0px 0px 10px black, 5px 2px 7px black
}
@media(max-width: 767px){
  .br15_search_result.cs-br15_search_result{
    overflow: initial;
    top: 55px;
    left: 15px;
  }
}

/*NEW 24-25 Nov custom countries page and places page*/
.btn-group.br15_signup_btn_group {
    position: absolute ;
    top: 22px ;
    right: 15px ;
    z-index: 10 ;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.btn.btn-primary.br15_btn_add_wish {
    font-size: 12px;
    font-weight: 300;
    background: #F07656;
    border: 0;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 11px;
    margin-left: 14px;
}
.br15_videos .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    background: #f07656;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    vertical-align: middle;
    padding: 0 1px;
    min-width: 20px;
}
.br15_videos .owl-next {
    right: 0;
}
.br15_videos .owl-prev {
    left: 0;
}
.br15_videos .owl-next i,.br15_videos .owl-prev i{
    top: 49%;
    position: absolute;
    right: 2px;
}
.br15_videos .owl-item>div{
    padding-right:3px;
}
.br15_videos {
    position: relative;
    border-bottom: 4px solid #fff;
}
.br15_map.br15_collapse .br15_Slide_Up_BTN,.br15_map.br15_collapse .br15_Slide_Up_BTN:hover,.br15_map.br15_collapse .br15_Slide_Up_BTN:focus {
    border-radius: 0;
    background: #fff;
    border: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 86px;
    color: #F07656;
    font-size: 24px;
    vertical-align: top;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0px;
    padding: 3px 0 0;
}
.br15_map.br15_collapse .br15_Slide_Up_BTN,.br15_map.br15_collapse .br15_Slide_Up_BTN:hover,.br15_map.br15_collapse .br15_Slide_Up_BTN:focus {
     border-radius: 0;
     background: #fff;
     border: 0;
     text-align: center;
     display: block;
     margin: 0 auto;
     max-width: 86px;
     color: #F07656;
     font-size: 24px;
     vertical-align: top;
     position: absolute;
     top: -37px;
     left: 0;
     right: 0px;
     padding: 3px 0 0;

 }
.br15_map {
    position: relative;
}
.br15_Slide_Up_BTN .glyphicon.glyphicon-menu-up{
    transform: rotate(180deg);
    position: absolute;
    bottom:8px;
    font-size: 16px;
    right: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}


.row.br15_map.br15_collapse .br15_Slide_Up_BTN .glyphicon.glyphicon-menu-up,.br15_Slide_Up_BTN .glyphicon.glyphicon-menu-down{
    position: absolute;
    top: 3px;
    font-size: 16px;
    right: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transform: rotate(0deg);
}
.br15_photos_cont{
    border-color: #c2c2c2;
}
.btn.btn-default.br15_features_btn, .btn.btn-default.br15_features_btn:hover, .btn.btn-default.br15_features_btn:focus {
    position: relative;
    background: #F07656;
    color: #FFFFFF;
    padding-top: 5px;
    margin-bottom: 25px;
}
.br15_features_btn>span {
    display: block;
    background: #ebebeb;
    font-size: 12px;
    color: #F07656;
}
.br15_features_btn_leader, .br15_features_btn_leader:hover, .br15_features_btn_leader:focus {
    font-size: 17px;
    padding-top: 9px;
}
.br15_features_btn_leader>span {
    display: block;
    background: #ebebeb;
    font-size: 12px;
    color: #F07656;
    margin-top: 9px;
}
.br15_Title_See_All, .br15_Title_See_All:hover, .br15_Title_See_All:focus {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    max-width: 132px;
    border: 0px none;
    border-radius: 0px;
    display: block;
    font-size: 21px;
    margin: 0px auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 0px;
    background: #FFF none repeat scroll 0% 0%;
    color: #F07656;
}
.br15_Title_See_All>span{
    display: block;
    background: #f07656;
    font-size: 12px;
    color: #fff;
}
.br15_map a.btn.btn-default.br15_pad_bot_5.br15_features_btn.br15_Title_See_All {
    position: absolute;
    margin-bottom:0 !important;
}
.br15_nearby h2 {
    font-size: 28px;
    font-weight: 600;
    color: #F07656;
    margin-top: 0;
    text-transform: uppercase;
}
.br15_nearby  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #F07656;

}
.br15_nearby a.btn.btn-default.br15_pad_bot_5.br15_features_btn.br15_Title_See_All {
    position: absolute;
}
.br15_good_to_know  .br15_Title_See_All,.br15_good_to_know  .br15_Title_See_All:hover,.br15_good_to_know  .br15_Title_See_All:focus{
    max-width: 180px;
    position: absolute;
}
.owl-prev i{
  position: relative !important;
  top: initial !important;
}
.owl-carousel.cs1-owl-carousel .owl-controls.clickable .owl-buttons{
  position: relative;
  bottom: 485px;
}
.btn.btn-default.new-btn-orange{
  display: block;
  border-radius: 0;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 5px 12px;
}
.btn.btn-default.new-btn-orange:hover{
  display: block;
  border-radius: 0;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 5px 12px;
}
.btn.btn-default.a-photo{
  background: #fff;
  border:none;
}

.btn.btn-default.a-photo:hover{
  background: #fff;
  border:none;
}
.btn.btn-default.btn-orange.btn-map.br15_pad_bot_5.r15_features_btn.br15_Title_See_Al{
  max-width: 100px;
}
.btn.btn-default.btn-orange.btn-map:hover{
  max-width: 100px;
}
.btn.btn-default.new-btn-orange.a-famous{
  max-width: 309px;
}
.btn.btn-default.new-btn-orange.a-famous:hover{
  max-width: 309px;
}
.btn.btn-default.new-btn-orange.a-to-know{
 max-width: 214px;
 margin-bottom:0 !important;
}
.btn.btn-default.new-btn-orange.a-to-know{
 max-width: 214px;
}
.btn.btn-default.new-btn-orange.a-fun{
 max-width: 150px;
}
.btn.btn-default.new-btn-orange.a-fun:hover{
 max-width: 150px;
}
.br_search_box .input-group.cs-input-group{
  margin: 60px 0;
}
.br15_city_header.cs-br15_city_header{
  padding-bottom: 35px;
}
.br15_img_round_cont img.famous{
  width:100% !important;
  height:initial !important;
}

#place-map-canvas{
  min-height:330px !important;
}
#country-name-heading{
  line-height: 1em !important;
}

.br15_info.br15_famous .owl-prev {
  left: -54px;
  top: 40px !important;
}

.br15_info.br15_famous .owl-next {
    right: -54px;
    top: 40px !important;
}
@media(min-width: 768px) and (max-width: 860px){
 #br15_owl_fun_facts .owl-buttons div, .br15_info.br15_famous .owl-buttons div, .br15_info.br15_famous .owl-buttons div{
    width: 105px !important;
    padding-top: 19px !important;
    height: 105px !important;
  }
  #br15_owl_fun_facts .owl-prev, .br15_info.br15_famous .owl-prev{
    left: -44px !important;
  }
  #br15_owl_fun_facts .owl-next, .br15_info.br15_famous .owl-next {
   right: -44px !important;
  }
}
@media(min-width: 768px){
.btn.btn-primary.br15_btn_add_wish{
  margin-right: 15px;
  margin-top: 20px;
}
}

@media(max-width: 767px){
#br15_owl_fun_facts .owl-buttons div, .br15_info.br15_famous .owl-buttons div, #br15_owl_reviews .owl-buttons div {
  width: 60px !important;
  height: 60px !important;
  font-size: 30px !important;
  }
  #br15_owl_fun_facts .owl-buttons div{
   padding-top: 20px !important;
  }
  #br15_owl_fun_facts .owl-buttons i ,.br15_info.br15_famous .owl-buttons i ,#br15_owl_reviews .owl-buttons i{
    position: relative;
    bottom: 10px !important;
  }

#br15_owl_fun_facts .owl-prev, .br15_info.br15_famous .owl-prev {
  left: -13px !important;
}

#br15_owl_fun_facts .owl-next, .br15_info.br15_famous .owl-next {
  right: -13px!important;
}

h1#country-name-heading{
  line-height: 1em;
  font-size: 50px;
  padding: 5px 30px;
  }
  .br_time.cs-br-time{
    display: block;
  }

  .br15_fixed h3 > a{
    white-space: nowrap;
  }

}/*max 767 countries and places*/

.br15_videos .owl-next i, .br15_videos .owl-prev i{
  top: 49% !important;
  position: absolute !important;
}



#carousel-modal.cs-carousel-modal{
  overflow-y: hidden;
}
.br_time.cs-br-time{
  display: none;
}
/*@media (max-width:767px){
h1#country-name-heading{
  line-height: 1em;
  font-size: 50px;
  padding: 5px 30px;
  }
  .br_time.cs-br-time{
    display: block;
  }
}*/

#br15_owl_video .owl-controls, #br15_owl_reviews .owl-controls {
  display: block !important;
}

.video-title {
  color: rgb(255, 255, 255);
  position: absolute;
  left:33px;
  bottom: 10px;
  font-weight: 900;
  text-transform: capitalize;
  pointer-events: none;
  text-shadow: 0px 0px 10px rgb(20, 13, 13), 5px 2px 7px rgb(41, 35, 35);
  font-size: 17px;
}
@media(max-width:400px){
  .video-title {
    font-size: 13px;
  }
}

.hero-hearts-place{
  position: relative;
  /*bottom: 30px;*/
}
.embed-responsive img.embed-responsive-item{
  height: auto !important;
}
/*END*/
.review-show{
  color:#F07656;
}
.review-show h2, .review-show h3{
  color:#808080;
}
.photo-edit-thumb-large{
  max-width: 700px;
}
.col-sm-12.cs-logo{
  margin-bottom: 50px;
}
.br_read_more.cs-br-read-more{
  background: none;
}
.modal-backdrop{
  z-index: 1000 !important;
}
.div-modal-video{
  position: absolute;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
.modal-dialog.cs-modal-lg{
    min-width: 100% !important;
}
#video-modal{
    overflow-y: hidden;
    margin-top: inherit;
}
#video-modal button.close{
  bottom: 15px;
  margin: 0;
  color: inherit;
}
@media(max-width: 320px){
  #video-modal{
    height: 276px !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}