#cards {
  z-index: 1000;
  height:100%;
  width: 50%;
  position:absolute;
  background-color: white;
  overflow: scroll;
  background-color: #fd7e56;
}

.search-wrapper {
  margin-bottom: 20px;
  width: 500px;
  margin-left: 17%;
}

.search-box {
  padding: 6px 15px 6px 30px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  color: #bcbcbc;
  background-size: 15px;
  border: none;
  font-size: 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cdcdcd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cdcdcd;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cdcdcd;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #cdcdcd;
}

.upper-card {
  background-size: 100% auto;
  height: 100px;
  border-radius: 2px 2px 0 0;
  color: #dedede;
  font-size: 0.85em;
}

.place-title {
  text-align: center;
  padding: 0 10px 0 10px;
}

.no-anchor-decoration {
  text-decoration: none !important;
}

.ui-front {
  z-index: 1000 !important;
}

.help-image {
  width: 50%;
  margin: 0 25%;
}

#places, #areas {
  padding: 0 12%;
  margin-bottom: 20px;
}

.area-card {
  background-color: #efefef;
  height: 70px;
  border-radius: 2px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.area-title {
  font-size: 1.2em;
  display: inline-block;
  padding-top: 10px;
}

.area-card-pin {
  display: inline-block;
}

.area-pin {
  height: 40px;
  margin: 0 10px 20px 10px;
}

.place-count {
  color: #aaaaaa !important;
}

.place-card {
  background-color: #ededed;
  width: 30%;
  margin-right: 3.33%;
  float: left;
  margin-bottom: 10px;
  border-radius: 2px;
  height: 192px;
  position: relative;
}

.place-title {
  margin-top: 15px;
}

.leaflet-marker-iconlabel {
  display: none !important;
}

.card-footer {
  text-align: center;
  background-color: #dddddd;
  border-radius: 0 0 2px 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28px;
  padding-top: 4px;
  color: #aaaaaa;
  font-size: 12px;
}

#navModal {
  width: 50%;
  color: white;
  text-align: center;
  margin-top: 10%;
  min-width: 325px;
}

#navModal a:hover {
  text-decoration: none;
}

.small-modal {
  min-height: 250px;
}

#pac-input {
  color: #555555;
}

.map-canvas{
  height: 300px;
}

#icon-wrapper {
  width: 100%;
  margin: 0 auto;
}

.dude-help {
  position: absolute;
  bottom: -20px;
  width: 12%;
  left: -6%;
  a { text-decoration: none;
      color: #de4652;
    }
}

.dude-help-out {
  left: 2%;
}

.dude-help-icon {
  width: 120%;
}

.dude-balloon {
  width: 100%;
}

.balloon-wrapper {
  display: none;
}

.balloon-wrapper-show {
  display: block;
}

.help-balloon {
  width: 180px;
  height: 180px;
  background: url(asset_path('dude-balloon-dialog.png')), no-repeat;
  background-size: 100%;
}

.balloon-dialog {
  text-align: center;
  padding-top: 25%;
}


.help-caption {
  text-align: center;
  color: white;
}

.carousel-indicators {
  margin-bottom: -5%;
}

.carousel-indicator {
  margin-top: 100%;
}

.pagination {
  display: block;
  text-align: center;
}

.sights {
  color: #fc3d7d;
}

.park {
  color: #00d81f;
}

.animals {
  color: #fa634b;
}

.shopping {
  color: #7c8ee1;
}

.activity {
  color: #fd0000;
}

.beach {
  color: #fda812;
}

.theme_park {
  color: #44adef;
}

.place_to_stay {
  color: #34d4ce;
}

.sport {
  color: #c057ec;
}

.museum {
  color: #365d88;
}


.place_to_eat {
  color: #3c9500;
}

@media (max-width: 600px) {

}
