.help-image {
  width: 50%;
  margin: 0 25%;
}

.dude-help {
  position: absolute;
  bottom: -20px;
  width: 12%;
  left: -6%;
  a { text-decoration: none;
      color: #de4652;
    }
}

.dude-help-out {
  left: 2%;
}

.dude-help-icon {
  width: 120%;
}

.dude-balloon {
  width: 100%;
}

.balloon-wrapper {
  display: none;
}

.balloon-wrapper-show {
  display: block;
}

.help-balloon {
  width: 180px;
  height: 180px;
  background: url(asset_path('dude-balloon-dialog.png')), no-repeat;
  background-size: 100%;
}

.balloon-dialog {
  text-align: center;
  padding-top: 25%;
}


.help-caption {
  text-align: center;
  color: white;
}

.carousel-indicators {
  margin-bottom: -5%;
}

.carousel-indicator {
  margin-top: 100%;
}

.search-box {
  z-index: 100;
  position: absolute;
  padding:6px 15px 6px 30px;
	margin: 0.5% 41.5%;
  width: 16%;
	background: white url(asset_path('search.png')) no-repeat 8px 8px;
  border-radius:15px;
  color:#bcbcbc;
  background-size: 15px;
  border: none;
}

.search-wrapper {
}

.br-corporate-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.corporate-logo {
  width: 120px;
}

@media (max-width: 600px) {
  .help-image {
    width: 100%;
    margin: 0 5%;
  }

  .dude-help {
    position: absolute;
    bottom: -20px;
    width: 25%;
    left: -18%;
    a { text-decoration: none;
        color: #de4652;
      }
  }

  .dude-help-out {
    left: 2%;
  }
}
