// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place-photo {
  border: 7px solid white;
  width: 100%;
  height: auto;
}


.photo-card {
  width: 48%;
}

.photo-card-expanded {
  position: relative;
  min-width: 100%;
  height: auto;
}

.photo-label {
  height: auto;
  width: 100%;
  margin-bottom: -10px;
}

.photo-frame {
  width: 100%;
  height: auto;
  border: 7px solid white;
}

.photo-transparent-placeholder {
  width: 100%;
  height: auto;
  border: 7px solid white;
}

.about-hero {
  height: auto;
  width: 100%;
  background-color: black;
}

.hero-video {
  width: 100%;
  border: 8px solid white;
}

.hero-photo {
  max-width: 100%;
  display: block;
  max-height: 500px;
  min-height: 400px;
  margin: 0 auto;
  border: 8px solid white;
}

.fun-fact {
  margin-top: -6px;
  display: none;
  padding: 15px;
  background-color: #EA9087;
}

.fun-fact-icon {
  position: absolute;
  margin-top: 4px;
}

.photo-container {
  background-color: #EA9087;
}
