.game-card-expanded {
  position: relative;
  min-width: 130%;
  margin-left: -16%;
  height: auto;
}

.game-card {
  width: 48%;
}

.game-frame {
  height: 400px;
}

.game-frame {
  width: 100%;
  border: 7px solid white;
}
 .game-thumbnail {
   border: 7px solid white;
   width: 100%;
   height: auto;
 }

.video-wrapper {
  width: 100%;
}

.video-thumbnail {
  width: 100%;
  border: 7px solid white;
}

.vimeo-frame {
  width: 100%;
  min-height: 360px;
  border: 7px solid white;
}

.video-play {
  position:absolute;
  opacity: 0.4;
}

.video-play-background {
  width: 98%;
}

.vimeo-thumb {
  width: 100%;
}

.discount-card {
  border: 7px solid white;
  height: auto;
  background-color: #EA9087;
  padding: 40px 15px 0px 15px;
  min-height: 200px;
}

.priority {
  display: none;
}

.postcard-dialog {
  height: 80%;
  margin: 5% auto;
  width: 75%;
}

.postcard-content {

}



 @media (max-width: 500px) {
   .game-card-expanded {
     min-width: 110%;
     margin-left: -4%;
   }
 }
