.game-card-expanded {
  position: relative;
  min-width: 95%;
//  margin-left: -16%;

  height: auto;
}

.game-card {
  width: 30%;
}

.game-frame {
  height: 500px;
  width: 500px;
}

.fact-card {
  background: url(asset_path('fun-fact-blue.jpg')) no-repeat;
  background-size: contain;
  background-color: #EAFFFF !important;
  border-radius: 50%;
  padding-top: 55px !important;
  padding-bottom: 15px !important;
  text-align: center;
}

.game-caption {
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 3px 3px;
}

.game-ds {
  width: 35% !important;
}

.page-wrap {
	min-width: 500px;
}

.game-frame {
  min-width: 100%;
}

.game-thumbnail {
   width: 100%;
   height: auto;
   border-radius: 3px 3px 0 0;
 }

.photo-credit {
  text-align: right;
  margin-top: -40px;
  margin-right: 20px;
  color: lightgrey;
}

.feedback-button {
  color: white;
  background-color: #fd7e56;
  margin-top: 10px;
}

.website-button {
  color: white;
  background-color: #fd7e56;
  margin-top: 10px;
}

.globe-home {
  width: 48px;
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
}

.video-wrapper {
  width: 100%;
}

.video-thumbnail {
  width: 100%;
}

.vimeo-frame {
  width: 100%;
  min-height: 360px;
}

.video-play {
  position:absolute;
  opacity: 0.4;
  width: 100%;
  background-color: #fd7e56;
}

.video-play-background {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.vimeo-thumb {
  width: 100%;
  border-radius: 3px;
}

.discount-card {
  height: auto;
  background-color: white;
  padding: 40px 15px 0px 15px;
  min-height: 200px;
}

.priority {
  display: none;
}

.postcard-dialog {
  height: 80%;
  margin: 5% auto;
  width: 75%;
}

.postcard-icon {
  display: inline;
  width: 30px;
  border: 1px solid #fd7e56;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .game-card {
    width: 46%;
  }

  .game-frame {
    width: 100%;
  }
}


 @media (max-width: 500px) {
   .game-card-expanded {
//     width: 500px;
     margin-left: 0%;
   }

   .globe-home {
     width: 10%;
   }
 }
