.game-card-expanded {
  position: relative;
  min-width: 130%;
  margin-left: -16%;
  height: 400px;
}

.game-card {
  width: 48%;
}

.game-frame {
  height: 400px;
}

.game-frame {
  width: 100%;
}
 .game-thumbnail {
   border: 7px solid white;
   width: 100%;
   height: auto;
 }

.video-player {
    width: 100%;
}

.discount-card {
  border: 7px solid white;
  height: auto;
  background-color: #EA9087;
  padding: 40px 15px 0px 15px;
  min-height: 200px;
}

.priority {
  display: none;
}



 @media (max-width: 500px) {
   .game-card-expanded {
     min-width: 110%;
     margin-left: -4%;
   }
 }
