/*Regiioooooonnnnn*/
[data-page="region"]{
	background: #fff
}

[data-page="region"] h3.header{
	text-align: center;
	padding-top: 82px;
    padding-bottom: 45px;
    margin: 0;
}

[data-page="region"] .section{
  padding-bottom: 72px;
  border-bottom: 1px solid #eaeaea;
}
[data-page="region"] .section h3{
	text-align: center;
}

[data-page="region"] .nav-option-outer-wrapper{
	text-align: center;
}

[data-page="region"] .nav-option{
	float: none;
	display: inline-block;
}

[data-page="region"] .promo-text,
[data-page="region"] .promo-text-full{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 14px;
	font-family: signika-light, sans-serif;
	font-weight: normal;
	position: relative;
	clear: both;
	text-align: center;
  padding-top: 55px;
  padding-bottom: 42px;
}

[data-page="region"] .promo-text > p,
[data-page="region"] .promo-text-full > p{
	font-size: 22px;
	line-height: 34px;
	margin: 0;
}

[data-page="region"] a.link-more{
	display: block;
  color: #959595;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 42px;
}

/*Places to go*/
[data-page="region"] #place_to_go-list .destination-card{
  margin-bottom: 15px;
}

/*Family Deals*/
[data-page="region"] .family-deals-card{
	transition: 0.3s;
	height: 320px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	text-align: left;
	line-height: 1.15;
}

[data-page="region"] .family-deals-text{
	padding: 0px 28px;
	transition: 0.3s all linear;
}

[data-page="region"] .cost{
	font-size: 14px;
	padding: 21px 0 16px;
}

[data-page="region"] .family-deals-card__header{
    font-size: 28px;
    padding-bottom: 10px;
}

[data-page="region"] .family-deals-card__paragraph{
	font-size: 17px;
	padding-bottom: 24px;
	margin: 0;
	line-height: 22px;
	opacity: 0;
    transition: 0.4s opacity linear;
}

[data-page="region"] .family-deals-card__see-deal{
	display: block;
    text-decoration: none;
    color: #fff;
    background-color: #6cb7ca;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

[data-page="region"] .family-deals-card__offer-ends{
	font-size: 16px;
	text-align: center;
	margin: 10px 0;
}

[data-page="region"] .family-deals-card__point-photo{
	transition: 0.3s all linear;
	height: 160px;
    overflow: hidden;
}

[data-page="region"] .family-deals-card__deal-icon{
	position: absolute;
	transition: 0.4s all linear;
}

[data-page="region"] .family-deals-card__included-icon{
	display: inline-block;
    position: relative;
    top: 3px;
    margin: 0 5px 0 7px;
}

[data-page="region"] .family-deals-card:hover > .family-deals-card__point-photo{
	margin-top: -185px;
}

[data-page="region"] .family-deals-card:hover > .family-deals-text{
	margin-top: -20px;
}

[data-page="region"] .family-deals-card:hover > .family-deals-card__deal-icon{
	transform: translate3d(0, -100%, 0);
}

[data-page="region"] .family-deals-card:hover > .family-deals-text > .family-deals-card__paragraph{
	opacity: 1;
}

[data-page="region"] .family-deals-card__ad{
	background-color: #f0f0f0;
    border: 1px solid #cccccc;
    padding: 10px;
}

[data-page="region"] .family-deals-card-ad__paragraph,
[data-page="region"] .region-things-to-do-card-ad__paragraph{
	color: #a2a2a2;
    font-size: 14px;
    position: absolute;
    bottom: 7px;
    left: 1px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

/*Will Ad Banner*/
[data-page="region"] .wild-ad-banner{
	background-color: #f0f0f0;
    padding: 19px;
}

[data-page="region"] .wild-ad-banner img{
	display: block !important;
  width: 100%;
}

[data-page="region"] .wild-ad-banner__paragraph {
    color: #a2a2a2;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

/*Map*/

[data-page="region"] .map-container{
  width: 90%;
  margin: auto;
}

[data-page="region"] .google-promo-map {
  display: block;
  width: 100%;
  height: 100%;
}

[data-page="region"] .region-map-point {
  display: block;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 100%; }

[data-page="region"] .google-promo-map .region-map-point__title {
  font-size: 16px;
  display: none;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

[data-page="region"] .google-promo-map .map-point-clicked img {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  border-color: #6cb7ca !important;
  /*width: 100px !important;
  height: auto !important;
  bottom: 0px !important;
  left: 25% !important;
  top: 60% !important;*/
}

/*[data-page="region"] .gmnoprint img{
  display: none !important;
}*/


[data-page="region"] .google-promo-map .hover.img-circle,
[data-page="region"] .google-promo-map .hover.img-circle:not(.gmnoprint),
[data-page="region"] .google-promo-map .map-point-clicked.img-circle,
[data-page="region"] .google-promo-map .map-point-clicked.img-circle:not(.gmnoprint){
  width: 100px !important;
  height: 100px !important;
  border: 4px solid #6cb7ca !important;
}

[data-page="region"] .google-promo-map .img-circle:not(.gmnoprint).hover,
[data-page="region"] .google-promo-map .img-circle.hover{
  border: 4px solid #fff !important;
}

[data-page="region"] .google-promo-map .map-point-clicked.img-circle{
  top: 50%;
  left: 50%;
}

[data-page="region"] .promo-map {
  height: 580px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

[data-page="region"] .point-card {
  position: absolute;
  padding: 18px 16px;
  top: 40px;
  left: 0;
  height: 520px;
  width: 350px;
  background-color: #fff;
  transition: 0.5s;
  opacity: 0;
}

[data-page="region"] .point-card.js-point-card{
  top: 20px;
  opacity: 1;
}

[data-page="region"] .point-card .scroll-area {
    margin-top: 19px;
    height: 248px;
    position: relative;
}

[data-page="region"] .point-card .scroll-area__swiper-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}

[data-page="region"] .point-card .scroll-area__content {
    display: block; 
}

[data-page="region"] .point-card__header {
  font-size: 18px;
  background-image: url(img/point-card/pin.png);
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 4px 0 13px 34px;
  margin: 0 32px 0 0;
  background-size: 21px;
  background-position: 2px 1px;
}

[data-page="region"] .point-card__close {
  background-image: url(img/point-card/cross.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 42px;
  height: 42px;
  background-size: cover;
  opacity: 0.5; 
}

[data-page="region"] .point-card__local-header {
  font-size: 50px;
  font-weight: bold;
  font-family: signika-semibold, sans-serif;
  padding-bottom: 13px;
}

[data-page="region"] .point-card__local-description {
  display: block;
  font-size: 17px;
  line-height: 22px;
}
[data-page="region"] .map-point-clicked .region-map-point__title{
  display: block !important;
}
[data-page="region"] .img-circle{
  border: 0;
}

[data-page="region"] .card-go-to {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #333333;
  padding: 10px 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  background-position: 90% 50%;
  background-size: 13px;
  background-image: url(img/point-card/next.png);
}

[data-page="region"] .card-go-to__text {
  letter-spacing: -0.5px;
}

[data-page="region"] .card-go-to__text--go-to {
  padding-left: 29px;
  color: #a3a3a3;
  padding-right: 5px;
}

[data-page="region"] .card-go-to:hover{
    color: inherit;
    text-decoration: none;
}

[data-page="region"] .region-preview-item {
  display: block;
  margin: 7px 7px 3px 3px;
  padding-right: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-page="region"] .region-preview-item__image {
  float: left;
  width: 125px;
  height: 100px;
  margin-right: 17px;
}

[data-page="region"] .region-preview-item__header {
  padding-top: 12px;
  font-size: 14px;
}

[data-page="region"] .region-preview-item__paragraph {
  font-size: 22px;
}

[data-page="region"] .point-card__local-header,
[data-page="region"] .point-card__local-description,
[data-page="region"] .region-preview-item__header,
[data-page="region"] .region-preview-item__paragraph{
    margin: 0;
}

[data-page="region"] .nav-option{
  width: 15.666667%;
}

/*Stories*/
[data-page="region"] .destination-page .stories-wrapper{
  padding-bottom: 60px;
}

[data-page="region"] .destination-page .stories-wrapper .load-more{
  padding-bottom: 0;
}

@media (max-width: 767px){
  [data-page="region"] .nav-option-wrapper{
    width: auto;
  }   
}

@media (max-width: 425px){
  [data-page="region"] .place-to-go .content > .row{
    margin-left: 0;
    margin-right: 0;
  }   
}