.left-user {
  width: 80%;
  position: absolute;
  left: 0;
}

.right-user {
  width: 18%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #FD7E56;
}
.my-photos {
  display: inline-block;
  position: relative;
}

.passport td {
  text-align: center;
  border: 1px solid black;
}

.passport {
  margin: 5% auto;
  width: 48%;
}

.passport-page {
  background-color: #7CC1FA;
}

.left-passport {
  width: 30%;
}

.passport-form input {
  background-color: skyblue;
  border: none;
  /* padding-top: 15px; */
  margin-top: 15px;
  height: 30px;
  width: 80%;
}

.passport.sign-up input {
  width: 100%;
  height: 50px;
  text-align: left;
}

.sidebar {
  color: white;
  text-align: center;
  overflow: hidden;
}

.sidebar-top {
  position: relative;
  background: url(asset_path('chevrons_orange.png'));
  height: 35%;
  background-color: #fd7e56;
}

.sidebar-item {
  height: 11%;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-size: 1.4em;
  padding: 14px;
  color: white;
}

.sidebar-icon {
  width: 20px;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #d29eff;
}

.sidebar-stamp {
  position: absolute;
  right: -30px;
  top: 12%;
  z-index: 20;
  transform: rotate(-15deg);
  width: 45%;
}

.user-avatar {
  width: 100%;
}

.passport-stamp {
  transform: rotate(-15deg);
  margin-left: -100px;
  margin-bottom: -50px;
}

.passport-photo {
  border: 1px solid white;
  height: 80%;
  width: 60%;
  margin: 10% auto auto;
  background: lightgray;
  transform: rotate(-6deg);
}

.passport-plane {
  padding-top: 20px;
}

.profile-container {/*
    width: 65%;
    margin-left: 10%;*/
  }

.middle-align {
  margin-top: 50%;
}

.signature {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.8em;
}

.user-signature {
  padding: 10px;
}

@media (max-width: 768px) {
  .passport {
    width: 90%;
  }

  .sidebar-item {
    font-size: 1em;
  }
}
