<%= render "layouts/navbar" %>
<div class="container">
  <div class="row">
    <div class="head-title">
      <h2 class="gray-font">Explore</h2>
    </div>
  </div>
</div>
<div class="border-section btm20"></div>

<div class="container padding-style">
  <div class="row" id="categories-list">
    <%= render 'categories_list', categories: @categories %>
  </div>
</div>
<% unless last_page? @categories %>
  <div class="text-center clearfix single-pagination-container">
    <div class="col-lg-12 col-md-12 btm15 hidden single-pagination-loader" align="center">
      <img src="<%= asset_path('loading.gif') %>" width="64" height="64">
    </div>
    <%= link_to 'Load more..', categories_path(page: @categories.next_page, per_page: 10 ), :class => 'btn btn-default btm20 single-pagination', remote: true %>
  </div>
<% end %>

<!--hardcode end-->
