<p>Hello <%= @resource.email %>!</p>
<% if @resource.guest? %>
  <%= render 'devise/mailer/set_password', resource: @resource, token: @token %>
<% else %>
  <%= render 'devise/mailer/reset_password', resource: @resource, token: @token %>
<% end %>
