<div class="container" data-controller='vouchers'>
  <h2>Edit <%= "Promotion (ID: #{@promotion.id})" %></h2>
  <%= simple_form_for @promotion,
    url: promotion_path, method: :patch, html: { role: 'form' } do |f| %>
      <%=
        render 'form',
          f: f,
          promotion: @promotion,
          calculator_flexi_rate: @calculator_flexi_rate,
          active_products: @active_products,
          promoted_product_ids: @promoted_product_ids
        %>
  <% end %>
</div>
