<p class="top20">
  <a href="<%= region_path(@region) %>" class="btn btn-primary"
    target="_blank">View Region Page</a>
  <a href="<%= choose_hero_region_photos_path(@region) %>"
    class="btn btn-primary">Edit / Add Photos</a>
  <a href="<%= all_region_videos_path(@region) %>"
    class="btn btn-primary">Videos</a>
</p>