<div class="thing-page">
<div class="background">
  <div id="thingstodo" class="container dest-things-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h3>Regions</h3>
      </div>
    </div>
    <div class="row">
      <div class="owl-carousel carousel" id="places_to_visit-list">
        <%= render partial: "regions/region_list", collection: @region_stories, as: :region %>
      </div>
    </div>
  </div>
</div>
</div>