<li>
  <a href="<%= country_path(country) %>">
      <div class="wrap-background-region-country" style="background-image: url('<%= draw_hero_background(country) %>')">
      </div>
      <span><%= country.display_name %></span>
  </a>
</li>