<div class="places-to-go-card ">
    <a href="<%= @favorite_regions.present?? region_path(place) : place_path(place) %>" class="ptgc-content" >
        <h3 class="places-to-go-card__header"><%= place.country.display_name rescue "" %></h3>
        <h4 class="places-to-go-card__card-name"><%= place.display_name %></h4>
    </a>
    <div class="places-to-go-card__background cover-bg" style="background: url('<%= draw_medium_background(place)%>') center no-repeat;" > </div>
</div>