<div class="col-md-4 col-sm-6 dest-thing-wrapper">
  <div class="dest-thing">
    <a class="link_card" href="<%= region_path(region) %>"></a>
    <div class="dest-thing-overlay-wrapper">

    </div>
    <div class="things-img" style="background: url(<%= showing_image(draw_small_background(region)) %>) no-repeat;" role="img" aria-label="Bondi"></div>
    <div class="dest-thing-content">
      <h4><%= region.display_name %></h4>
    </div>
  </div>
</div>
