<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <div class="review">
      <%= simple_format review.content %>
    </div>
  <% end %>
</div>

<div class="col-sm-6 col-md-3">
  <h4>Meet with a keeper</h4>
  <p>
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
  </p>
  <p class="anchor">
    <a href="#">See entire review</a>
  </p>
  <p>Chris Jones,<br>Mosman Public</p>
  <div class="clearfix"></div>
</div>
<div class="col-sm-6 col-md-3">
  <h4>Meet with a keeper</h4>
  <p>
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
  </p>
  <p class="anchor">
    <a href="#">See entire review</a>
  </p>
  <p>Chris Jones,<br>Mosman Public</p>
  <div class="clearfix"></div>
</div>
<div class="col-sm-6 col-md-3">
  <h4>Meet with a keeper</h4>
  <p>
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
  </p>
  <p class="anchor">
    <a href="#">See entire review</a>
  </p>
  <p>Chris Jones,<br>Mosman Public</p>
  <div class="clearfix"></div>
</div>
<div class="col-sm-6 col-md-3">
  <h4>Meet with a keeper</h4>
  <p>
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vi vmus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada. Aenean non tortor id. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Vivamus cursus purus quis tellus adipiscing sit amet susc ipit justo malesuada....”
  </p>
  <p class="anchor">
    <a href="#">See entire review</a>
  </p>
  <p >Chris Jones,<br>Mosman Public</p>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 text-center">
  <a href="#" class="br_see_more_btn">See more reviews</a>
</div>
