<!-- <div class="col-xs-12 col-sm-6 col-md-6 ">
<% if  !@place.good_to_knows.blank? %>
<h4>Good To Know</h4>
 <% @good_to_know.each do |gtk| %>
  <p class="mrg0 white-text"><i class="fa fa-caret-right"></i><%= gtk.description %></p><br>
 <% end %>
<% end %>
</div> -->