<div class="col-xs-12 col-sm-4 col-md-4 ">
<% if  !@place.good_to_knows.blank? %>
<h4>Good To Know</h4>
 <% @good_to_know.each do |gtk| %>
  <p class="mrg0"> <a href="#"><i class="fa fa-caret-right"></i><%= gtk.description %></a></p>
 <% end %>
<% end %>
</div>