<!-- MODAL TELL STORY-->
<div id="StoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal-orange" data-dismiss="modal">&times;</button>
        <!-- <span class="left-modal"><a type="button" class="btn custom-close-register"><i class="fa fa-arrow-left"></i></a></span> -->
        <h4 class="modal-title" align="center">Tell us your story</h4>
      </div>
      <div class="modal-body" align="center">
        <section class="explore">
          <div class="row">
            <div class="col-xs-12 ">
              <p class="pink btm15" align="left">About your visit</p>
              <a href="#" class="btn btn-default btn-block title-story">
              Title of your story<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Write an interesting title</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block photo-story">
              Photos & Video<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Add media</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block date-story">
              When did you visit?<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select the month and year</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block about-story">
              Tell us about your visit<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Write a few paragraphs</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <p class="pink btm15" align="left">About you</p>
              <a href="#" class="btn btn-default btn-block agebracket">
              Your age bracket<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select from the list provided</p>
              </a>
            </div>
            <div class="col-xs-12 ">
              <a href="#" class="btn btn-default btn-block firstname">
              Your first name<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">This will appear on your story</p>
              </a>
            </div>
            <div class="col-xs-12 col-md-12">
              <button style="text-align:center" class="btn btn-danger btn-block btn-height btn-radius button-orange fontbig-button btm15">Publish</button>
            </div>
            <div class="col-xs-12 ">
              <button class="btn btn-default pink">Save as draft</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL TELL STORY-->

<!-- MODAL TITLE STORY-->
<div id="TitleStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close close-modal" data-dismiss="modal">&times;</button> -->
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Title of your story</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="Enter title of your story"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL TITLE STORY-->


<!-- MODAL PHOTO STORY-->
<div id="PhotoStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close close-modal" data-dismiss="modal">&times;</button> -->
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Photos & Videos</h4>
      </div>
      <div class="modal-body" align="left">
        <p align="left">
          <button class="btn btn-height-width btn-default"><i class="fa fa-plus pink"></i> Add</button>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL PHOTO STORY-->

<!-- MODAL DATE STORY-->
<div id="DateStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close close-modal" data-dismiss="modal">&times;</button> -->
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">When did you visit?</h4>
      </div>
      <div class="modal-body" align="center">
         <p class="grey">Select the month and year that you visited this place</p>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL DATE STORY-->

<!-- MODAL ABOUT STORY-->
<div id="AboutStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close close-modal" data-dismiss="modal">&times;</button> -->
        <a type="button" class="btn grey story left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">About your visit</h4>
      </div>
      <div class="modal-body" align="center">
         <div class="form-group">
           <textarea class="form-control" rows="5" placeholder="In a few paragraphs, tell is about your experience visiting to this place."></textarea>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL ABOUT STORY-->