<div class="container">
<h1>Crop Hero Image</h1>

<%= image_tag @place.hero_image_url, id: "cropbox" %>

<%= form_for @place do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
</div>
