
<div class="container blog-container">
<form method="get" action="/places/subcategory_match">
  <h4>1 Minute Survey</h4>
  <label>My kids are: (check all that apply)</label><br>
  <input type="checkbox" id="five-to-eight" value="5-8" name="ages[]"><label for="five-to-eight">&nbsp;5-8</label><br>
  <input type="checkbox" id="nine-to-twelve" value="9-12" name="ages[]"><label for="nine-to-twelve">&nbsp;9-12</label><br>
  <input type="checkbox" id="teenagers" value="teens" name="ages[]"><label for="teenagers">&nbsp;Teenagers</label><br>
  <div class="form-group">
    <label>I live in: (pick one)</label><br>
    - Australia<br>
    <input type="radio" name="region" value="new south wales" required>&nbsp;NSW<br>
    <input type="radio" value="victoria" name="region">&nbsp;VIC<br>
    <input type="radio" value="western australia" name="region">&nbsp;WA<br>
    <input type="radio" value="australian capital territory" name="region">&nbsp;ACT<br>
    <input type="radio" value="queensland north" name="region">&nbsp;QLD<br>
    <input type="radio" value="tasmania" name="region">&nbsp;TAS<br>
    <input type="radio" value="south australia" name="region">&nbsp;SA<br>
    <input type="radio" value="northern territory" name="region">&nbsp;NT<br>
    <input type="radio" value="international" name="region">&nbsp;International (please specify below)<br>
    <input type="text" name="international_region" class="form-control" style="height:50px;">
  </div>
  <p>
    <label>My family is most interested in: (pick your top three)</label><br>
    <input type="checkbox" id="subcat1" value="active" name="subcategories[]"><label for="subcat1">Active(playgrounds, sport, watersports, snow)</label><br>
    <input type="checkbox" id="subcat2" value="adventure" name="subcategories[]"><label for="subcat2">Adventure</label><br>
    <input type="checkbox" id="subcat3" value="culture" name="subcategories[]"><label for="subcat3">Culture (museums, galleries, historic, indigenous)</label><br>
    <input type="checkbox" id="subcat4" value="food" name="subcategories[]"><label for="subcat2">Food</label><br>
    <input type="checkbox" id="subcat5" value="movies" name="subcategories[]"><label for="subcat2">Movies</label><br>
    <input type="checkbox" id="subcat6" value="nature" name="subcategories[]"><label for="subcat2">Nature (nature reserves, parks)</label><br>
    <input type="checkbox" id="subcat7" value="science" name="subcategories[]"><label for="subcat2">Science &amp; technology</label><br>
    <input type="checkbox" id="subcat8" value="theme-parks" name="subcategories[]"><label for="subcat2">Theme parks</label><br>
  </p>
  <p>
    <label>Does your family have accessibility needs to be considered?</label><br>
    <input type="radio" name="accessibility" value="yes">&nbsp;Yes<br>
    <input type="radio" name="accessibility" value="no">&nbsp;No<br>
  </p>
  <p>
    <label>Confirm your email address</label><br>
    <input type="text" name="email" class="form-control" style="height:50px;">
  </p>
  <input type="submit" value="Submit">
</form>
</div>
<script>
console.log("TEST");
</script>


My family is most interested in: (allow 3 responses here)
Active (playgrounds, sport, watersports, snow)
Adventure
Animals
Culture (museums, galleries, historic, indigenous)
Food
Movies
Nature (nature reserves, parks)
Science & technology
Theme parks


Does your family have accessibility needs to be considered?
Yes
No

Confirm your email address

Find my activity now! (make this a butt
