<div class="container">
  <h3>Assets succesfully transferred from <em><%= @from_place.display_name %></em> TO <em><%= @to_place.display_name %></em></h3>

  <a href="/places/merge">Merge another place?</a><br>
  <a href="<%= root_path %>">Home</a>
</div>
