<!-- ## MODAL REGISTER NAME ACCOUNT -->
<div id="myModal10" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal modal-blue" data-dismiss="modal">&times;</button>
        <a type="button" class="btn grey custom-close-register left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Sign up for Bound Round</h4>
      </div>
      <div class="modal-body" align="center">
        <section class="explore">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="blue-light btm10" align="left">A little bit about you</p>
              <a href="#" class="btn btn-default btn-block">
              Your name<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Choose a username</p>
              </a>
            </div>
            <div class="col-xs-12 col-md-6">
              <a href="#" class="btn btn-default btn-block">
              Date of birth<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">DD/MM/YYYY</p>
              </a>
            </div>
            <div class="col-xs-12 col-md-6">
              <a href="#" class="btn btn-default btn-block">
              Country where you live<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select country</p>
              </a>
            </div>
            <div class="col-xs-12 col-md-6">
              <button style="text-align:center"class="btn btn-default btn-block blue-light btn-height fontbig-button btn-radius custom-close-register-travelling">Continue</button>
            </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ## END MODAL REGISTER NAME ACCOUNT -->

<!-- ## MODAL REGISTER TRAVELLING -->
<div id="myModal11" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal modal-blue" data-dismiss="modal">&times;</button>
        <a type="button" class="btn grey custom-close-register-name left-modal"><i class="fa fa-arrow-left"></i></a>
        <h4 class="modal-title" align="center">Sign up for Bound Round</h4>
      </div>
      <div class="modal-body" align="center">
        <section class="explore">
          <div class="row">
            <div class="col-xs-12">
              <p class="blue-light btm10" align="left">About your travelling</p>
              <a href="#" class="btn btn-default btn-block">
              Destinations I would like to visit <i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">List countries, cities, regions</p>
              </a>
            </div>
            <div class="col-xs-12">
              <a href="#" class="btn btn-default btn-block">
              Activities and interests<i class="fa fa-arrow-right margin-arrow-modal"></i>
              <!-- <p class="grey">Select activities and interest categories</p> -->
              <p class="grey">Select activities and interest categories</p>
              </a>
              <!-- <p class="grey">Select activities and interest categories</p> -->
            </div>
            <div class="col-xs-12">
              <a href="#" class="btn btn-default btn-block">
              I tend to travel with...
              <i class="fa fa-arrow-right margin-arrow-modal"></i>
              <p class="grey">Select age groups of fellow travellers</p>
              </a>
            </div>
            <div class="col-xs-12">
                <button style="text-align:center"class="btn btn-default btn-block blue-light btn-height fontbig-button btn-radius custom-close-start-travelling">Start travelling
              </button>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ## END MODAL REGISTER TRAVELLING -->
<!-- END MODAL SECTION -->
<!-- MODAL SCHEDULE -->
<!-- Modal -->
<div id="OpeningHourModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal modal-blue" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Opening Hours</h4>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Monday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Tuesday</p>
          <p><b>9am - 1pm, 2pm - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Wednesday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Thursday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Friday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Saturday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-sm-12" align="left">
          <p>Sunday</p>
          <p><b>9am - 6pm</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL SCHEDULE -->

<% if user_signed_in? %>
<div id="addMediaModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-margin-top">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Photos & Videos</h4>
      </div>
      <div class="modal-body" align="left">
          <div class="row">
            <div class="col-xs-12">
              <div class="lis-file-upload2" class="">

              </div>
              <form action="">
                  <div class="fileinput-button">
                      <div class="btn btn-height-width btn-default block-import" >
                        <i class="fa fa-plus pink"></i> Add
                        <input type="file" class="file-upload2 with-preview">
                      </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<!--END MODAL ADD MEDIA-->

<% if user_signed_in? %>
  <div id="one-minute-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-margin-top">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" align="center"></h4>
        </div>
        <div class="modal-body" align="left">
          <div class="row">
            <div class="col-xs-12 text-center">
              <p><h4>Hi <%= current_user.username.blank? ? current_user.email : current_user.username %></h4></p>
              <p><br>
                This is what Bound Round users most like you recommend for family fun this month. Check it out!
              </p><br>
              <p>
                If you've already been, please write a review. Otherwise, happy planning!<br>
                <i style="color: lightblue;" class="fa fa-thumbs-up fa-2x"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div id="one-minute-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-margin-top">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" align="center"></h4>
        </div>
        <div class="modal-body" align="left">
          <div class="row">
            <div class="col-xs-12">
              <p>This is Bound Round's top family friendly destination in your region.</p>
              <p>We love local suggestions for places to add.</p>
              <p><a href="mailto:welcome@boundround.com" class="btn btn-primary">Please email us your top places</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
