<footer class="footer">
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-12">Ratings and Reviews Powered by<br><img src="<%# = asset_path('ta_logo.png') %>" alt="Trip Advisor Logo"></div>
      </div> -->
        <div class="row wrapper-footer">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <ul>
                     <li><h5 class="footer__header">&nbsp;</h5></li>
                    <li><a href="http://corporate.boundround.com/travel-tourism-suppliers/" class="footer__link" target="blank">The Travel Industry</a></li>
                    <li><a href="http://boundround.com/media/" class="footer__link" target="blank">Media</a></li>
                    <li><a href="http://corporate.boundround.com/privacy/" class="footer__link" target="blank">Privacy Policy</a></li>
                    <li><a href="https://mydiscoveries.herokuapp.com/posts/about-us" class="footer__link" target="blank">About Us</a></li>
                    <li><a href="http://corporate.boundround.com/contact/" class="footer__link" target="blank">Contact</a></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-5 col-md-4">
                <ul>
                    <li><h5 class="footer__header">Popular Searches</h5></li>
                     <% #@footer_places = Place.find([1064, 233, 1071, 1182, 1060, 1160, 1126, 1203])%>
                      <% #@footer_places.each do |place| %>
                        <li><%#= link_to "Things To Do In #{place.display_name}", place_path(place), class: "footer__link" %></li>
                     <% #end %>
                    <li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3">
                <ul>
                    <li><h5 class="footer__header">Countries</h5></li>
                    <% #@footer_countries = Country.find([194, 185, 184, 155, 172, 84, 35]) %>
                    <% #@footer_countries.each do |country| %>
                      <li><%#= link_to country.display_name, country_path(country), class: "footer__link" %></li>
                    <% #end %>

                </ul>
            </div>
            <div class="hidden-xs col-sm-5 col-md-2">
                <ul>
                    <li><h5 class="footer__header">Connect with us</h5></li>
                    <li><a href="https://www.facebook.com/BoundRound" class="footer__link footer__link--social footer__link--fb">Facebook</a></li>
                    <li><a href="http://instagram.com/boundround/" class="footer__link footer__link--social footer__link--insta">Instagram</a></li>
                    <li><a href="https://twitter.com/BoundRoundAus" class="footer__link footer__link--social footer__link--twitter">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/BoundRoundGuides" class="footer__link footer__link--social footer__link--yt" href="#">YouTube</a></li>
                    <li><a href="https://au.pinterest.com/boundround/" class="footer__link footer__link--social footer__link--pint" href="#">Pinterest</a></li>
                </ul>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <p class="footer__copyright">&copy; 2017 My Discoveries</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
