<!-- FOOTER -->
<footer class="footer">
  <div class="container padding-style">
    <div class="row">
    <div class="col-xs-8 col-sm-10 text-left">
      <ul>
        <li><a href="http://boundround.com/travel-industry/" target="blank">The Travel Industry</a></li>
        <li><a href="http://boundround.com/education/" target="blank">Teachers</a></li>
        <li><a href="http://boundround.com/media/" target="blank">Media</a></span></p></li>
        <li><a href="https://www.surveygizmo.co.uk/s3/1997229/Kids-in-travel/" target="blank">Your Say</a></li>
        <li><a href="http://boundround.com/privacy-terms/" target="blank">Privacy Policy</a></li>
        <li><a href="http://boundround.com/about-us/" target="blank">About Us</a></li>
        <li><a href="http://boundround.com/contact-bound-round/" target="blank">Contact</a></li>
        <li><a href="https://heapanalytics.com/?utm_source=badge"><img id="heap-img" style="width:108px;height:41px;margin-top:-10px;float:left" src="//heapanalytics.com/img/badgeLight.png" alt="Heap | Mobile and Web Analytics" /></a></li>
        <li class="li-copy"><a href="#" class="copy">&copy; 2016. Boundround</a></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="/"><img src="/assets/br_logo_new.png" class="text-light" alt=""></a>
    </div>
  </div>
  </div>
</footer>