<div class="container" id="search-nav" style="display:none;background:white;">
  <div class="row">
    <div class="col-xs-1 col-sm-1 top15">
        <i class="fa fa-search pink fontbig-signin i-big-isize"></i>
    </div>
    <div class="col-xs-9 col-sm-9" style="height:60px">
      <%= form_tag searching_path, id: '', method: :get  do %>
        <%= submit_tag "", id: 'btn-search-top'  %>
        <%= text_field_tag "search[common]", params.traverse('search', 'common'), class: 'search-nav-mobile', placeholder: 'Search for destinations' %>
      <% end %>
    </div>
    <div class="top15" align="center">
      <i id="fa-times-nav-xs" class="fa fa-times grey fontbig-signin i-big-isize"></i>
    </div>
  </div>
</div>
