<div class="modal video-modal fade" id="video-modal" data-backdrop="static">
  <div class="modal-dialog cs-modal-lg">
    <div class="modal-content cs-modal-content-video">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" align="center">
          <iframe class="embed-reponsive-item player-vimeo" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="880" height="500"></iframe>
          <div class="video-title"></div>
        </div>
    </div>
  </div>
</div>
