<table style="background-color: #fff; width: 600px; margin: auto; border-collapse: collapse;" border="0">
  <% if email_page %>
    <tr>
      <td colspan="2" style="font-family:'Rubik'; font-size: 16px; color: #fff; background-color: #000060; padding: 30px 0">
        Having trouble viewing this email? View it in your
        <%= link_to 'browser',
          order_confirmation_url(id: order.number, order_token: order.guest_token),
          style: "text-decoration: underline; color: #fff"
        %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2" style="padding: 40px 40px 30px;">
      <% if email_page %>
        <img src="<%= asset_url('assets/mydiscoveries_icon/i/logo-full.png') %>" style="width: 230px;">
      <% else %>
        <img src="<%= asset_url('assets/mydiscoveries_icon/i/logo-full.svg') %>" style="width: 230px;">
      <% end %>
    </td>
  </tr>

  <%= render 'vouchers/table_items',
    pdf_page:   pdf_page,
    email_page: email_page,
    order:      order,
    customer:   customer,
    collection: order.line_items.not_miscellaneous_charges
  %>

  <tr>
    <td colspan="2" style="padding: 10px 40px;">
      <span style="font-family: 'Georgia', Arial; font-size: 26px">Important information</span>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-family: Arial; font-size: 16px; color: #333; padding-bottom: 15px; padding: 0; padding-bottom: 25px;">
      <ul style="padding: 0 40px; padding-left: 55px;">
        <li style="margin: 15px 0; line-height: 20px">
          This voucher is your proof of purchase.
          Treat your prepaid voucher as you would cash and keep it in a safe place
        </li>
      </ul>
    </td>
  </tr>
</table>
