<head>
  <title>Vouchers</title>
  <style type="text/css">
    @font-face {
      font-family: 'Georgia';
      src: url('<%= asset_url('Georgia.ttf') %>');
    }
    @font-face {
      font-family: 'Barcode';
      src: url("<%= asset_url('BarcodeFont.ttf') %>"); 
    }
    @font-face {
      font-family: 'Rubik';
      src: url("<%= asset_url('Rubik.ttf') %>");
    }
  </style>
</head>
