<html>
  <%= render 'vouchers/head' %>
  <body>
    <table style="margin: auto; border-collapse: collapse;" border="0">
      <%= render 'vouchers/table_items',
        pdf_page:   true,
        email_page: false,
        order:      order,
        offer:      offer,
        operator:   operator,
        hero_photo: hero_photo,
        customer:   customer,
        collection: order.ax_line_items.any? ? order.ax_line_items : (1..order.total_people_count).to_a
      %>
    </table>
  </body>
</html>
