<html>
  <%= render 'vouchers/head' %>
  <body>
    <table style="margin: auto; border-collapse: collapse;" border="0">
      <%= render 'vouchers/table_items',
        pdf_page:   true,
        email_page: false,
        order:      order,
        customer:   customer,
        collection: order.line_items.not_miscellaneous_charges
      %>
    </table>
  </body>
</html>
